<br />
<div class="row">
	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4>Found {{searchCount}} records</h4>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<h4>Page: {{ currentPage }}</h4>
	            </div>
	            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
	            	<div class="pull-right">
						<select class="form-control" ng-model="pageSize">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="70">70</option>
							<option value="100">100</option>
						</select>
		            </div>
				</div>
            </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h4>Art List</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="pull-right">
					<a ng-click="refreshArtLis()" class="btn btn-small btn-default">
						<span class="glyphicon glyphicon-refresh"></span>
					</a>
	            </div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="input-group input-group-md">
			<input type="text" class="form-control" placeholder="Filter Arts" aria-describedby="sizing-addon3" ng-model="query.$">
			<span class="input-group-addon" id="sizing-addon3">
				<span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>
						<a ng-click="orderProp='artId'; reverseSort = !reverseSort">Art ID 
							<span ng-show="orderProp == 'artId'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='artName'; reverseSort = !reverseSort">Name 
							<span ng-show="orderProp == 'artName'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='artType'; reverseSort = !reverseSort">Type 
							<span ng-show="orderProp == 'artType'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
	          		</th>
					<th>
						<a ng-click="orderProp='artSubtype'; reverseSort = !reverseSort">Subtype 
							<span ng-show="orderProp == 'artSubtype'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='price'; reverseSort = !reverseSort">Price 
							<span ng-show="orderProp == 'price'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='createdBy'; reverseSort = !reverseSort">Created By 
							<span ng-show="orderProp == 'createdBy'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='createdDate'; reverseSort = !reverseSort">Created Date 
							<span ng-show="orderProp == 'createdDate'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='lastUpdatedDate'; reverseSort = !reverseSort">Updated Date 
							<span ng-show="orderProp == 'lastUpdatedDate'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='visitsCounter'; reverseSort = !reverseSort">Visits 
							<span ng-show="orderProp == 'visitsCounter'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='status'; reverseSort = !reverseSort">Status 
							<span ng-show="orderProp == 'status'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="art in artList | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize">
					<th scope="row">{{$index + 1}}</th>
					<td><a href="#/artDetails/{{art.artId}}">{{art.artId}}</a></td>
					<td><a href="#/artDetails/{{art.artId}}">{{art.artName}}</a></td>
					<td>{{art.artType}}</td>
					<td>{{art.artSubtype}}</td>
					<td>{{art.currencyType}} {{art.price}}</td>
					<td><a ng-click="viewUserProfile(art.createdBy)">{{art.createdBy}}</a></td>
					<td>{{art.createdDate | date}}</td>
					<td>{{art.lastUpdatedDate | date}}</td>
					<td>{{art.visitsCounter}}</td>
					<td>{{art.status}}</td>
					<td>
	            		<a ng-click="setArt(art)" data-toggle="modal" data-target="#activateArt" class="btn btn-small btn-success" 
	            			ng-show="art.feePaymentPending && (art.status == 'ACTIVE' || art.status == 'PENDING VALIDATION' || art.status == 'REMOVED' || art.status == 'SOLD')">
							<span class="glyphicon glyphicon-ok-sign"></span>
						</a>
	            	</td>
	            	<td>
	            		<a ng-click="deleteArt(art.artId)" class="btn btn-small btn-danger" ng-show="art.status == 'ACTIVE' || art.status == 'PENDING VALIDATION'">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
	            	</td>
	            	<td>
	            		<a ng-click="setArt(art)" data-toggle="modal" data-target="#registerArtPayment" class="btn btn-small btn-info" ng-show="art.status == 'IN_PROCESS'">
							<span class="glyphicon glyphicon-piggy-bank"></span>
						</a>
	            	</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Pagination -->
	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>

<!-- Modal to activate Art (Register Fee) -->
<div id="activateArt" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Pay Fee Pending</h4>
			</div>
			<div class="modal-body">
				<p>
					The following Art is waiting for the feee to be credited to be activated.
					If you have the Transaction number or Deposit evidence, please capture it below to activate the publication.
				</p>
				<form name="form">
					<div class="form-group"">
						<label>Art ID</label>
						<input type="text" class="form-control" ng-model="art.artId" readonly>
					</div>
					<div class="form-group">
						<label>Art Name</label>
						<input type="text" class="form-control" ng-model="art.artName" readonly>
					</div>
					<div class="form-group" ng-class="{'has-error': form.transactionNumber.$dirty && form.transactionNumber.$error.required }">
						<label># Transaction</label>
						<input type="text" name="transactionNumber" class="form-control" ng-model="transactionId" required>
						<span ng-show="form.transactionNumber.$dirty && form.transactionNumber.$error.required" class="help-block">Transaction number is required</span>
					</div>
					<div class="form-group" ng-class="{'has-error': form.paymentMethod.$dirty && form.paymentMethod.$error.required }">
						<label>Payment Method</label>
						<div class="radio">
							<label><input type="radio" name="paymentMethod" ng-model="paymentMethod" value="Deposit" checked="checked" required>Deposit</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="paymentMethod" ng-model="paymentMethod" value="Transfer" required>Transfer</label>
						</div>
						<span ng-show="form.paymentMethod.$dirty && form.paymentMethod.$error.required" class="help-block">Payment Method is required</span>
					</div>
					<br />
					<div class="text-right">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						<button class="btn btn-warning" ng-click="activateArt(art.artId)" data-dismiss="modal" ng-disabled="form.$invalid">Activate</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>

<!-- Modal to register Pending Art Payment -->
<div id="registerArtPayment" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Register Art Payment</h4>
			</div>
			<div class="modal-body">
				<p>
					The following Art has been in process to be credited.
					If you have the Transaction number or Deposit evidence, please capture it below to register the payment.
				</p>
				<form name="form">
					<div class="form-group"">
						<label>Art ID</label>
						<input type="text" class="form-control" ng-model="art.artId" readonly>
					</div>
					<div class="form-group">
						<label>Art Name</label>
						<input type="text" class="form-control" ng-model="art.artName" readonly>
					</div>
					<div class="form-group" ng-class="{'has-error': form.transactionNumber.$dirty && form.transactionNumber.$error.required }">
						<label># Transaction</label>
						<input type="text" name="transactionNumber" class="form-control" ng-model="transactionId" required>
						<span ng-show="form.transactionNumber.$dirty && form.transactionNumber.$error.required" class="help-block">Transaction number is required</span>
					</div>
					<div class="form-group" ng-class="{'has-error': form.paymentMethod.$dirty && form.paymentMethod.$error.required }">
						<label>Payment Method</label>
						<div class="radio">
							<label><input type="radio" name="paymentMethod" ng-model="paymentMethod" value="Deposit" checked="checked" required>Deposit</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="paymentMethod" ng-model="paymentMethod" value="Transfer" required>Transfer</label>
						</div>
						<span ng-show="form.paymentMethod.$dirty && form.paymentMethod.$error.required" class="help-block">Payment Method is required</span>
					</div>
					<br />
					<div class="text-right">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						<button class="btn btn-warning" ng-click="registerArtPayment(art.artId)" data-dismiss="modal" ng-disabled="form.$invalid">Register Payment</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>