<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">User details for: <i><b>{{user.username}}</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="updateUser()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.name" required/>
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" ng-model="user.lastname" required/>
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required/>
            <span ng-show="form.email.$dirty && form.email.$error.required"  class="help-block">E-mail is required</span>
        	<span ng-show="form.email.$dirty && form.email.$error.email"  class="help-block">Valid E-mail Address is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.gender.$dirty && form.gender.$error.required }">
            <label for="gender">Gender</label>
            <select  name="gender" id="Text1" class="form-control" ng-model="user.gender" required>
            <option>M</option>
            <option>F</option>
            </select>
            <span ng-show="form.gender.$dirty && form.gender.$error.required" class="help-block">Gender is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.role.$dirty && form.role.$error.required }">
            <label for="role">Role</label>
            <select name="role" id="role" class="form-control" ng-model="user.role" required ng-options="role.role_name as role.role_name for role in vm.roles"></select>
            <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">Role is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.status.$dirty && form.status.$error.required }">
            <label for="status">Status</label>
            <select name="status" id="status" class="form-control" ng-model="user.status" required ng-options="status.user_status_type as status.user_status_type for status in vm.userStatus"></select>
            <span ng-show="form.status.$dirty && form.status.$error.required" class="help-block">Status is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Update</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>