<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Create New Address Type</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="createAddressType()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.addressTypeName.$dirty && form.addressTypeName.$error.required }">
            <label for="addressTypeName">Address Type Name</label>
            <input type="text" name="addressTypeName" id="addressTypeName" class="form-control" ng-model="addressType.address_type_name" required/>
            <span ng-show="form.addressTypeName.$dirty && form.addressTypeName.$error.required" class="help-block">Address Type Name is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>