<br />

<div class="row" ng-if="showPanel">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Art Payment</h3>
			</div>
			<div class="panel-body">
				<p>You are about to purchase the art <b>{{art.artName}}</b> for a total amount of <b>{{art.price | currency}} {{art.currencyType}}</b>.</p>
				<p>We have the below payment options:</p>
				<br /><br />
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="list-group">
							<button type="button" class="list-group-item" ng-click="submitPaypalPayment()">
								<h4 class="list-group-item-heading text-center">
									<img alt="Pay with PayPal" src="./images/PP_logo_h_200x51.png"/></h4>
								<h4 class="list-group-item-text text-center">
									({{art.price | currency}} {{art.currencyType}})
								</h4>
							</button>
							<button type="button" class="list-group-item" ng-click="submitBankDepositPayment()">
								<h4 class="list-group-item-heading text-center"><span class="glyphicon glyphicon-usd"></span> Bank Deposit</h4>
								<h4 class="list-group-item-text text-center">
									({{art.price | currency}} {{art.currencyType}})
								</h4>
							</button>
							<button type="button" class="list-group-item" ng-click="submitBankTransferPayment()">
								<h4 class="list-group-item-heading text-center"><span class="glyphicon glyphicon-usd"></span> Bank Transfer</h4>
								<h4 class="list-group-item-text text-center">
									({{art.price | currency}} {{art.currencyType}})
								</h4>
							</button>
							<button type="button" class="list-group-item" ng-click="submitOwnArrangementPayment()" ng-if="false">
								<h4 class="list-group-item-heading text-center"><span class="glyphicon glyphicon-link"></span> Own Arrangement</h4>
								<h4 class="list-group-item-text text-center">
									({{art.price | currency}} {{art.currencyType}})
								</h4>
							</button>
						</div>
					</div>
				</div>
				<br />
				<div class="text-center">
					<a href="#/home" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
