<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div ng-show="approval_url" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Information - Paypal</h3>
				</div>
				<div class="panel-body">
					<p>Thanks for considering paying using Paypal service.</p>
					<p>Please click on the below button in order to complete the payment process. 
					It will redirect you to Paypal Web site so you can confirm your payment.</p>
					<a class="btn btn-block btn-success" href="{{approval_url}}">I Approve</a>
					<a class="btn btn-block btn-danger" ng-click="cancel()">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>
