<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Information - Bank Transaction</h3>
				</div>
				<div class="panel-body">
					<p>Thanks for considering paying using Bank transaction.</p>
					<p>As soon as you execute the transaction, please send an email to our Admin team</p>
					
					<p>For Bank transaction, please use the below information:</p>
					<ul class="list-group">
						<li class="list-group-item"><b>Bank:</b> Bank Of America</li>
						<li class="list-group-item"><b>Order to:</b> Aentheus, LLC</li>
						<li class="list-group-item"><b>Account #:</b> 1641 0211 7300</li>
						<li class="list-group-item"><b>ACH Routing Number:</b> 121000358</li>
					</ul>
					<br />
					<div class="text-center">
						<a href="#/home" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
