<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Information - Own Arrangement</h3>
				</div>
				<div class="panel-body">
					<p>Own Arrangement contact information:</p>
				</div>
			</div>
		</div>
	</div>
</div>
