<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-danger" ng-show="!isConfirmed">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Information Not Confirmed</h3>
				</div>
				<div class="panel-body">
					<p>There was an error with your Paypal payment. Please contact the administrator.</p>
				</div>
			</div>
			<div class="panel panel-success" ng-show="isConfirmed && showConfirmed">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Information Confirmed</h3>
				</div>
				<div class="panel-body">
					<p>Thanks for you Payment.</p>
					<p>Your payment has been confirmed with ID:</p>
					<ul>
						<li>
							<p><i><b>{{paymentId}}</b></i></p>
						</li>
					</ul>
					<p>Please take a moment to complete the evaluation survey from <a href="#/surveys">here</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
