<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4 class="panel-title" style="padding-bottom: 5px;">From: <u><a ng-click="viewUserProfile(message.fromUser.user_name)">{{message.fromUser.user_name}}</a></u></h4>
    	<h4 class="panel-title" style="padding-bottom: 5px;">To: <u><a ng-click="viewUserProfile(message.toUser.user_name)">{{message.toUser.user_name}}</a></u></h4>
    	<h4 class="panel-title" style="padding-bottom: 5px;">Subject: {{message.subject}}</h4>
    	<h4 class="panel-title text-right" style="padding-bottom: 5px;">{{message.created_date | date:'medium'}}</h4>
	</div>
	<div class="panel-body">
		<p>{{message.message}}</p>	
  </div>
</div>
<div class="row text-center">
	<div class="form-actions">
		<a ng-click="cancel()" class="btn btn-default">Cancel</a>
		<a ng-click="deleteMsg(message.inbox_id)" class="btn btn-danger">Delete</a>
		<a class="btn btn-primary" data-toggle="modal" data-target="#privateInboxModal">Reply</a>
	</div>
</div>

<!-- Reply Modal -->
<div class="modal fade" id="privateInboxModal" tabindex="-1" role="dialog" aria-labelledby="privateInboxModalLabel">
	<div class="modal-dialog" role="document">
		<form name="formInbox" role="form" ng-submit="sendPrivateInbox()">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addrsModalLabel">Reply to message</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
			            <label for="fname">From: </label>
						<span class="form-control-static">{{message.toUser.user_name}}</span>
			        </div>
			        <div class="form-group">
			            <label for="fname">To: </label>
						<span class="form-control-static">{{message.fromUser.user_name}}</span>
			        </div>
			        <div class="form-group" ng-class="{ 'has-error': formInbox.subject.$dirty && formInbox.subject.$error.required }">
			            <label for="subject">Subject</label>
			            <span class="form-control-static">{{subject}}</span>
			        </div>
			        <div class="form-group" ng-class="{ 'has-error': formInbox.message.$dirty && formInbox.message.$error.required }">
			            <label for="message">Message</label>
			            <textarea class="form-control" rows="5" name="message" id="message" ng-model="vm.message" ng-maxlength="500" 
			            	placeholder="Your Message..." ng-pattern="txtPattern" required></textarea>
						<span ng-if="vm.message" class="help-block">{{500 - vm.message.length}} out of 500 characters</span>
						<span ng-show="form.comment.$dirty && form.comment.$error.required" class="help-block">Message is required</span>
						<span ng-show="form.comment.$error.maxlength" class="help-block">Max of 500 characters</span>
						<span class="help-block"><gentle ng-model="vm.message"></gentle></span>
			        </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" ng-click="sendReplyToInbox()" data-dismiss="modal" class="btn btn-primary" ng-disabled="formInbox.$invalid || isNotgentle">Send</button>
				</div>
			</div>
	    </form>
	</div>
</div>
