<br />

<!-- Message Tabs -->
<div class="row" ng-controller="TabController as tab">
	<ul class="nav nav-tabs nav-justified">
		<li ng-class="{active:tab.isSet(1)}" role="presentation" class="active"><a href ng-click="tab.setTab(1)">Inbox</a></li>
		<li ng-class="{active:tab.isSet(2)}" role="presentation"><a href href ng-click="tab.setTab(2)">Sent</a></li>
	</ul>
	<div class="container tabs-spacer" ng-show="tab.isSet(1)">
		<div class="row">
			<div class="container">
				<div class="page-header">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Found {{inboxList.length}} records</h4>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
							<h4>Page: {{ currentPage }}</h4>
			            </div>
			            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			            	<div class="pull-right">
								<select class="form-control" ng-model="pageSize">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
									<option value="70">70</option>
									<option value="100">100</option>
								</select>
				            </div>
						</div>
		            </div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h4>Inbox</h4>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="pull-right">
							<a ng-click="refreshInboxMessages()" class="btn btn-small btn-default">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
			            </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group input-group-md">
					<input type="text" class="form-control" placeholder="Filter messages" aria-describedby="sizing-addon3" ng-model="query.$">
					<span class="input-group-addon" id="sizing-addon3">
						<span class="glyphicon glyphicon-search"></span>
					</span>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>
								<a ng-click="orderProp='user_name'; reverseSort = !reverseSort">From 
									<span ng-show="orderProp == 'user_name'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='subject'; reverseSort = !reverseSort">Subject 
									<span ng-show="orderProp == 'subject'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='message'; reverseSort = !reverseSort">Message 
									<span ng-show="orderProp == 'message'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
							<th>
								<a ng-click="orderProp='created_date'; reverseSort = !reverseSort">Date 
									<span ng-show="orderProp == 'created_date'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="inboxMsg in inboxList | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize" ng-class="{bold: !inboxMsg.read}" ng-click="viewMessage(inboxMsg.inbox_id)" pagination-id="inboxMsgs">
							<th scope="row">{{$index + 1}}</th>
							<td>{{inboxMsg.fromUser.user_name}}</td>
							<td>{{inboxMsg.subject | limitTo:50}}</td>
							<td>{{inboxMsg.message | limitTo:100}}</td>
							<td>{{inboxMsg.created_date | date:'medium'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="inboxMsgs" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		</div>
	</div>
	<div class="container tabs-spacer" ng-show="tab.isSet(2)">
				<div class="row">
			<div class="container">
				<div class="page-header">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Found {{sentList.length}} records</h4>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
							<h4>Page: {{ currentPage }}</h4>
			            </div>
			            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			            	<div class="pull-right">
								<select class="form-control" ng-model="pageSize">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
									<option value="70">70</option>
									<option value="100">100</option>
								</select>
				            </div>
						</div>
		            </div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h4>Sent</h4>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="pull-right">
							<a ng-click="refreshInboxMessages()" class="btn btn-small btn-default">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
			            </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group input-group-md">
					<input type="text" class="form-control" placeholder="Filter messages" aria-describedby="sizing-addon3" ng-model="query.$">
					<span class="input-group-addon" id="sizing-addon3">
						<span class="glyphicon glyphicon-search"></span>
					</span>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>
								<a ng-click="orderProp='user_name'; reverseSort = !reverseSort">To 
									<span ng-show="orderProp == 'user_name'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='subject'; reverseSort = !reverseSort">Subject 
									<span ng-show="orderProp == 'subject'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='message'; reverseSort = !reverseSort">Message 
									<span ng-show="orderProp == 'message'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
							<th>
								<a ng-click="orderProp='created_date'; reverseSort = !reverseSort">Date 
									<span ng-show="orderProp == 'created_date'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="sentMsg in sentList | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize" ng-class="{bold: !sentMsg.read}" ng-click="viewMessage(sentMsg.inbox_id)" pagination-id="sentMsgs">
							<th scope="row">{{$index + 1}}</th>
							<td>{{sentMsg.toUser.user_name}}</td>
							<td>{{sentMsg.subject | limitTo:50}}</td>
							<td>{{sentMsg.message | limitTo:100}}</td>
							<td>{{sentMsg.created_date | date:'medium'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="sentMsgs" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		</div>
	</div>
</div>
<!-- End Message Tabs -->
