<br />
<form name="form">
	<div class="row">
		<div class="col-lg-7 col-sm-12 col-md-7 " >
			<div class="panel panel-default ">
				<div class="panel-heading ">
					<h3 class="panel-title">Art Data</h3>
				</div>
				<div class="panel-body">
					<div class="form-group"
						ng-class="{ 'has-error': form.art_name.$dirty && form.art_name.$error.required }">
						<label for="art_name">Art Name :</label> <input name="art_name"
							id="Text1" class="form-control" ng-model="vm.art.art_name"
							required></input> <span
							ng-show="form.art_name.$dirty && form.art_name.$error.required"
							class="help-block">Art Name is required</span>
					</div>
					<div class="form-group"
						ng-class="{ 'has-error': form.art_description.$dirty && form.art_description.$error.required }">
						<label for="art_description">Art Description :</label>
						<textarea class="form-control" rows="5" name="art_description" id="art_description" 
							ng-model="vm.art.art_description" ng-maxlength="500" required></textarea>	
						<span ng-show="form.art_description.$dirty && form.art_description.$error.required"
							class="help-block">Art Description is required</span>
						<span style="color: #737373;" class="help-block">{{500 - vm.art.art_description.length}} out of 500 characters</span>
						<span ng-show="form.art_description.$error.maxlength" class="help-block">Max of 500 characters</span>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-12" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Art Media</h3>
				</div>
				<div class="panel-body">
					<div class="text-center">
						<div class="btn-group col-lg-12 col-md-12 col-sm-12  col-xs-12" role="group">
							<button class="btn btn-default btn-sm col-lg-3 col-md-3  col-sm-12 col-xs-12" ng-click="picFile=null;"
								data-toggle="modal" data-target="#upLoadImage" ng-disabled="vm.medialist.length + vm.imagePosted >= vm.imageRule">Add Image</button>
							<button class="btn btn-default btn-sm col-lg-3 col-md-3 col-sm-12 col-xs-12 " ng-click="vidFile=null;"
								data-toggle="modal" data-target="#upLoadVideo" ng-disabled="vm.videolist.length >= vm.videoRule">Add Video</button>
							<button class="btn btn-default btn-sm col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-click="mp3File=null;"
								data-toggle="modal" data-target="#upLoadMp3"  ng-disabled="vm.audiolist.length >= vm.audioRule">Add Audio</button>
							<button class="btn btn-default btn-sm col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-click="pdfFile=null;"
								data-toggle="modal" data-target="#upLoadPdf" ng-disabled="vm.pdflist.length >= vm.pdfRule">Add PDF</button>
						</div>
					</div>
					<div class="row">
						<div ng-repeat="media in vm.sMediaList track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
							<div class="thumbnail" ng-click="setPrimary(media); setMediaPry(media)" ng-class="{primaryPicture : vm.primaryFile === media}">
								<div ng-if="media.artMediaType === 'image'">
									<img class="thumbnail-search img-responsive" ngf-thumbnail="media.artMediaFilename"></img>
								</div>
								<div ng-if="media.artMediaType === 'pdf'">
									<img class="thumbnail-search img-responsive" src="./images/pdf2.png"></img>
								</div>
								<div ng-if="media.artMediaType === 'audio'">
									<img class="thumbnail-search img-responsive" src="./images/audio3.png"></img>
									<audio class="audioControl" controls ngf-src="media.artMediaFilename"></audio>
								</div>
								<div ng-if="media.artMediaType === 'video'">
									<video class="thumbnail-search img-responsive" controls ngf-src="media.artMediaFilename"></video>
								</div>
								<span ng-show="validateFormToSubmit()" class="glyphicon glyphicon-remove removeButton"
								ng-click="removeMedia(media);" aria-hidden="true"></span>
							</div>
							<p class="text-center">
								<a ng-show="!validateFormToSubmit()" ng-click="removeMedia(media);" class="btn btn-sm btn-danger">
									<span class="glyphicon glyphicon-remove"></span> Remove</a>
							</p>
						</div>
					</div>
					<div class="row">
						<div ng-repeat="media in vm.medialist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
							<div class="thumbnail" ng-click="setPrimary(media); setImagePry(media);" 
								ng-class="{primaryPicture : vm.primaryFile === media}">
								<img class="thumbnail-search img-responsive" ngf-thumbnail="media"></img>
								<span ng-show="validateImageList()" class="glyphicon glyphicon-remove removeButton"  
									ng-click="removePicture(media);" aria-hidden="true"></span>
							</div>
							<p class="text-center">
								<a ng-show="validateImageList()" ng-click="removePicture(media);" class="btn btn-sm btn-danger">
									<span class="glyphicon glyphicon-remove"></span> Remove</a>
							</p>
						</div>
					</div>
					<div class="row">
						<div ng-repeat="audio in vm.audiolist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
							<div class="thumbnail" ng-click="setPrimary(audio); setImagePry(audio);" 
									ng-class="{primaryPicture : vm.primaryFile === audio">
								<img class="thumbnail-search img-responsive" src="./images/audio3.png"></img>
								<audio class="img-responsive" class="audioControl" controls ngf-thumbnail="audio"></audio>
								<span ng-show="validateAudioList()" class="glyphicon glyphicon-remove removeButton"  
									ng-click="removeAudio(audio);" aria-hidden="true"></span>
							</div>
							<p class="text-center">
								<a ng-show="validateAudioList()" ng-click="removeAudio(audio);" class="btn btn-sm btn-danger">
									<span class="glyphicon glyphicon-remove"></span> Remove</a>
							</p>
						</div>
					</div>
					<div class="row">
						<div ng-repeat="pdf in vm.pdflist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
							<div class="thumbnail" ng-click="vm.pdfGetter(pdf); setPrimary(pdf); setImagePry(pdf);" 
									ng-class="{primaryPicture : vm.primaryFile === pdf}">
								<img class="thumbnail-search img-responsive" src="./images/pdf2.png"></img>
								<span ng-show="validatePdfList()" class="glyphicon glyphicon-remove removeButton"  
									ng-click="removePdf(pdf);" aria-hidden="true"></span>
							</div>
							<p class="text-center">
								<a ng-show="validatePdfList()" ng-click="removePdf(pdf);" class="btn btn-sm btn-danger">
									<span class="glyphicon glyphicon-remove"></span> Remove</a>
							</p>
						</div>
					</div>
					<div class="row">
						<div ng-repeat="media in vm.videolist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
							<div class="thumbnail" ng-click="setPrimary(media); setImagePry(media);" 
									ng-class="{primaryPicture : vm.primaryFile === media}">
								<video class="thumbnail-search img-responsive" controls ngf-thumbnail="media"></video>
								<span ng-show="validateVideoList()" class="glyphicon glyphicon-remove removeButton"  
									ng-click="removeVideo(media);" aria-hidden="true"></span>
							</div>
							<p class="text-center">
								<a ng-show="validateVideoList()" ng-click="removeVideo(media);" class="btn btn-sm btn-danger">
									<span class="glyphicon glyphicon-remove"></span> Remove</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-actions text-center">
				<img ng-if="vm.dataLoading"
					src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				<a href="#/profile/{{user}}" class="btn btn-primary">Cancel</a>
				<button ng-disabled="form.$invalid || vm.dataLoading || !validateFormToSubmit()" class="btn btn-warning"
					ng-click="saveArt();">Submit</button>
			</div>
		</div>
	</div>
</form>

<!-- Modals for File Upload -->
<div id="upLoadImage" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload Image</h4>
			</div>
			<div class="modal-body">
				<form name="myImageForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" 
								ng-model="picFile" name="file" accept="image/*" required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addPicture(picFile);" ng-disabled="picFile==null" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>
<div id="upLoadVideo" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload Video</h4>
			</div>
			<div class="modal-body">
				<form name="myVideoForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" ng-model="vidFile" name="file" accept="video/MP4" 
									ngf-validate="{size: {min: 10, max: '10MB'}, duration: {max: '5m'}}" required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<div ng-show="myVideoForm.file.$error.maxSize" class="help-block">
							<br /><i>File too large; Max allowed is 10M</i><br />
						</div>
						<div ng-show="myVideoForm.file.$error.maxDuration" class="help-block">
							<br /><i>File duration too large; Max duration is 5 min</i><br />
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addVideo(vidFile);" ng-disabled="vidFile==null" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>
<div id="upLoadMp3" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload Audio</h4>
			</div>
			<div class="modal-body">
				<form name="myAudioForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" ng-model="audiofile" name="file" accept="audio/mpeg" 
									ngf-validate="{size: {min: 10, max: '10MB'}, duration: {max: '10m'}}" required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<div ng-show="myAudioForm.file.$error.maxSize" class="help-block">
							<br /><i>File too large; Max allowed is 10M</i><br />
						</div>
						<div ng-show="myAudioForm.file.$error.maxDuration" class="help-block">
							<br /><i>File duration too large; Max duration is 10 min</i><br />
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addAudio(audiofile);" ng-disabled="audiofile==null" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>
<div id="upLoadPdf" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload PDF Document</h4>
			</div>
			<div class="modal-body">
				<form name="myPDFForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" ng-model="pdfFile" name="file" accept="application/pdf"
								 required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addPdf(pdfFile);" ng-disabled="pdfFile==null" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>

<!-- TODO -->
<div id="previewModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="row">
					<div class="col-lg-12">
						<ol class="breadcrumb">
							<li><a href="#/">Home</a></li>
							<li><a href="#/search/{{art.artType}}">{{art.artType}}</a></li>
							<li><a href="#/search/{{art.artSubtype}}"
								style="font-weight: bold;">{{art.artSubtype}}</a></li>
						</ol>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<!-- Art Details -->
				<div class="container">
					<div class="row tabs-spacer">
						<div class="col-lg-10 col-lg-offset-1">
							<div class="thumbnail">
								<div class="row carousel-holder">

									<div class="carousel-inner">
										<div class="item active">
											<img class="slide-image" src="http://placehold.it/800x300"
												alt="">
										</div>
										<div class="item">
											<img class="slide-image" src="http://placehold.it/800x300"
												alt="">
										</div>
										<div class="item">
											<img class="slide-image" src="http://placehold.it/800x300"
												alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="caption-full">
							<h4 class="pull-right">{{art.price | currency}}
								{{art.currencyType}}</h4>
							<h4>{{art.artName}}</h4>
							<p>{{art.artDescription}}</p>
							<p class="text-right">
								by <a href="#/profile/{{art.createdBy}}">{{art.createdBy}}</a>
							</p>
							<p class="text-right">created: {{art.createdDate | date}}</p>
						</div>
						<div class="ratings">
							<p class="pull-right">{{comments.length}} reviews</p>
							<input-stars ng-model="art.rating" max="5" readonly></input-stars>
						</div>
						<div class="row"
							ng-hide="isUserOwner(art.createdBy) || isNotLoggedIn()">
							<div class="col-md-12">
								<div class="text-right">
									<p>
										<a href="" class="btn btn-xs btn-default" data-toggle="modal"
											data-target="#privateInboxModal"> <span
											class="glyphicon glyphicon-envelope"></span> Send Private
											Message
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row text-center" ng-show="isUserOwner(art.createdBy)">
						<div class="col-md-12">
							<div style="margin: 10px;">
								<a ng-click="" class="btn btn-default">Cancel</a>
								<a ng-click="" class="btn btn-primary">Edit</a>
							</div>
						</div>
					</div>
					<div class="well">
						<div
							dir-paginate="comment in comments | orderBy:-createdDate | itemsPerPage:pageSize">
							<div class="row">
								<div class="col-md-12">
									by <a href="#/profile/{{comment.createdBy}}">{{comment.createdBy}}</a>:
									<span class="pull-right">{{comment.createdDate |
										date:'medium'}}</span> <br /> <br />
									<p>{{comment.comment}}</p>
									<a ng-click="deleteArtComment(comment.artCommentId)"
										class="btn btn-small btn-danger pull-right"
										ng-show="hasAdminPrivileges()">delete</a>
								</div>
							</div>
							<hr>
						</div>
						<!-- Pagination -->
						<div class="text-center">
							<dir-pagination-controls boundary-links="true"
								on-page-change="pageChangeHandler(newPageNumber)"
								template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>