<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Create New Art SubType</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="createArtSubType()" role="form">
     	<div class="form-group" ng-class="{ 'has-error': form.artTypeName.$dirty && form.artTypeName.$error.required }">
			<label for="artTypeName">Art Type Name</label>
			<select name="artTypeName" id="artTypeName" class="form-control" ng-model="artSubType.art_type" required 
			ng-options="type as type.art_type_name for type in artTypes track by type.art_type_id"></select>
			<span ng-show="form.artTypeName.$dirty && form.artTypeName.$error.required" class="help-block">Art Type is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.artSubTypeName.$dirty && form.artSubTypeName.$error.required }">
            <label for="artSubTypeName">Art SubType Name</label>
            <input type="text" name="artSubTypeName" id="artSubTypeName" class="form-control" ng-model="artSubType.art_subtype_name" required/>
            <span ng-show="form.artSubTypeName.$dirty && form.artSubTypeName.$error.required" class="help-block">Art Type Name is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>