<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Settings details for: <i><b>{{appSetting.app_setting_name}}</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="updateKeyValue()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.key.$dirty && form.key.$error.required }">
            <label for="key">Key</label>
            <input type="text" name="key" id="key" class="form-control" ng-model="appSetting.app_setting_name" readonly/>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.value.$dirty && form.value.$error.required }">
            <label for="value">Value</label>
            <input type="text" name="value" id="value" class="form-control" ng-model="appSetting.app_setting_value" required/>
            <span ng-show="form.value.$dirty && form.value.$error.required" class="help-block">Value is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Update</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>