<br/>
<div class="row text-right">
	<div class="col-lg-12">
		<a href="" class="btn btn-md btn-default" ng-show="{{vm.isOwner}}" ng-click="vm.editable=!vm.editable">
			<span class="glyphicon glyphicon-pencil"></span> Edit
		</a>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4  col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
		<div class="col-lg-12">
		  	<img ng-src="{{vm.image}}" ng-hide="{{vm.isOwner}}" class="img-circle col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
		  	<img ng-src="{{vm.image}}" ng-show="{{vm.isOwner}}" class="img-circle col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="editPicture();" />
		  	<img src="./images/glyphicons-333-certificate.png" ng-show="vm.isUserCertified" style="position: absolute; margin-top: 50%;" alt="Certified">
		</div>
		<h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-title">{{vm.user}}</h3>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 art-statement" >
		<input type="text" ng-model="vm.artState" ng-disabled="!vm.editable" placeholder="[Art Statement]" ng-show="{{vm.isOwner}}" style="width: 300px;">
	</div>
	<div class="col-lg-12  col-md-12 col-sm-12  col-xs-12 p_container" ng-show="vm.editable">
		<h4>Resume</h4>
		<form name="resumeForm">
			<textarea rows="15" name="resume" id="resume" class="editbox form-control" ng-model="vm.resume" required></textarea>
			<div class="text-center">
				<button ng-click="vm.editable=!vm.editable" type="submit" class="btn btn-default">Cancel</button>
				<button ng-click="edit();" type="submit" class="btn btn-primary" ng-disabled="resumeForm.$invalid || isNotgentle">Submit</button>
			</div>
		</form>
	</div>
</div>
<br/>
<hr/>
<!-- Generals -->
<div class="row" ng-if="isNotLoggedIn()">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">My Profile</h3>
			</div>
			<div class="panel-body">
				<pre>{{vm.resume | limitTo: 900}} <a class="btn btn-default btn-xs" data-toggle="modal" href="./#/profile/{{vm.user}}/#myModal" role="button" >...</a></pre>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="!isNotLoggedIn()">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h5 class="panel-title">Details</h5>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="pull-right" ng-hide="vm.isOwner || surveysPending">
							<a href="" class="btn btn-xs btn-default" data-toggle="modal" data-target="#privateInboxModal">
								<span class="glyphicon glyphicon-envelope"></span> Send Private
							</a>
			            </div>
					</div>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item" style="padding: 5px 15px;">
					<h5 class="list-group-item-heading"><b>Membership:</b></h5>
					<p class="list-group-item-text" style="text-align: right;">{{vm.membership}}</p>
				</li>
				<li class="list-group-item" style="padding: 5px 15px;">
					<h5 class="list-group-item-heading"><b>Visited:</b></h5>
					<p class="list-group-item-text" style="text-align: right;">{{vm.visitsCounter}} times</p>
				</li>
				<li class="list-group-item" style="padding: 5px 15px;">
					<h5 class="list-group-item-heading"><b>Name:</b></h5>
					<p class="list-group-item-text" style="text-align: right;">{{vm.userFullName}}</p>
				</li>
				<li ng-if="vm.location" class="list-group-item" style="padding: 5px 15px;">
					<h5 class="list-group-item-heading"><b>Location:</b></h5>
					<p class="list-group-item-text" style="text-align: right;">{{vm.location}}</p>
				</li>
			    <li ng-if="vm.phone && (isUserOwner(vm.user) || hasAdminPrivileges() || hasBoughtUser)" class="list-group-item" style="padding: 5px 15px;">
			    	<h5 class="list-group-item-heading"><b>Phone:</b></h5>
			    	<p class="list-group-item-text" style="text-align: right;">{{vm.phone}}</p>
				</li>
			    <li ng-if="vm.mobile && (isUserOwner(vm.user) || hasAdminPrivileges() || hasBoughtUser)" class="list-group-item" style="padding: 5px 15px;">
			    	<h5 class="list-group-item-heading"><b>Mobile:</b></h5>
			    	<p class="list-group-item-text" style="text-align: right;">{{vm.mobile}}</p>
			    </li>
			    <li ng-if="vm.email && (isUserOwner(vm.user) || hasAdminPrivileges() || hasBoughtUser)" class="list-group-item" style="padding: 5px 15px;">
			    	<h5 class="list-group-item-heading"><b>email:</b></h5>
			    	<p class="list-group-item-text" style="text-align: right;">
			    		<a ng-href="mailto:{{vm.email}}">{{vm.email}}</a>
			    	</p>
			    </li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<div class="panel panel-default" style="min-height: 280px;">
			<div class="panel-heading">
				<h3 class="panel-title">My Profile</h3>
			</div>
			<div class="panel-body">
				<pre>{{vm.resume | limitTo: 530}} <a ng-show="vm.resume.length > 530" class="btn btn-default btn-xs" data-toggle="modal" href="./#/profile/{{vm.user}}/#myModal" role="button">...more</a></pre>
			</div>
		</div>
	</div>
</div>

<!-- End Generals -->
<hr />
<!-- Portfolio -->
<div class="row">
	<div class="well well-sm col-lg-12 text-center">
		<h4>Portfolio</h4>
	</div>
</div>
<!-- End Portfolio -->

<!-- Profile Tabs -->
<div class="row" ng-controller="TabController as tab">
	<ul class="nav nav-tabs nav-justified">
		<li ng-class="{active:tab.isSet(1)}" role="presentation" class="active"><a href ng-click="tab.setTab(1)">Art For Sale</a></li>
		<li ng-class="{active:tab.isSet(3)}" role="presentation"><a href href ng-click="tab.setTab(3)">Sold</a></li>
		<li ng-if="isUserOwner(vm.user)" ng-class="{active:tab.isSet(4)}" role="presentation"><a href ng-click="tab.setTab(4)">Art Purchased</a></li>
		<li ng-if="isUserOwner(vm.user)" ng-class="{active:tab.isSet(2)}" role="presentation"><a href href ng-click="tab.setTab(2)">Payment In Process</a></li>
		<li ng-if="isUserOwner(vm.user)" ng-class="{active:tab.isSet(5)}" role="presentation"><a href href ng-click="tab.setTab(5)">Pending Validation</a></li>
	</ul>
	<div class="container tabs-spacer" ng-show="tab.isSet(1)">
		<hr>
			<div class="row">
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" dir-paginate="art in artActivefiltered = (artList | filter: {status:'ACTIVE'}) | orderBy:-createdDate | itemsPerPage:pageSize" pagination-id="artActive" current-page="currentPage">
					<div class="thumbnail">
						<a href="#/artDetails/{{art.artId}}" ng-repeat="artMedia in art.media">
							<img ng-src="{{artMedia.artMediaFilename}}" ng-if="artMedia.artMediaType=='image'" alt="{{art.artName}}" class="thumbnail-search img-responsive">
							<video ngf-thumbnail="artMedia.artMediaFilename" ng-if="artMedia.artMediaType=='video'" class="thumbnail-search img-responsive"></video>
							<img src="./images/audio.png" ng-if="artMedia.artMediaType=='audio'" class="thumbnail-search img-responsive"></img>
							<img src="./images/pdf2.png" ng-if="artMedia.artMediaType=='pdf'" class="thumbnail-search img-responsive"></img>
						</a>
						<div class="caption-full">
							<h4 style="font-weight: bold"><a href="#/artDetails/{{art.artId}}">{{art.artName}}</a></h4>
							<h5 class="text-right">{{art.price | currency}} {{art.currencyType}}</h5>
							<p class="text-right">Created: {{art.createdDate | date}}</p>
							<p ng-if="isUserOwner(vm.user)" class="text-right">Visited: {{art.visitsCounter}} times</p>
							<hr style="margin-top: 3px; margin-bottom: 3px;"/>
							<p class="thumbnail-cat">Categories: 
								<a href="#/search/{{art.artType}}">{{art.artType}}</a>, 
								<a href="#/search/{{art.artSubtype}}">{{art.artSubtype}}</a>
							</p>
						</div>
						<div class="ratings">
							<p class="pull-right"><a href="#/artDetails/{{art.artId}}">{{art.reviews}} reviews</a></p>
							<p>
								<input-stars ng-model="art.rating" max="5" readonly></input-stars>
							</p>
						</div>
						<hr style="margin-top: 0px; margin-bottom: 5px;"/>
						<p class="text-center">
							<a href="#/artDetails/{{art.artId}}" class="btn btn-sm btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-search"></span> View</a>
							<a ng-if="isUserOwner(vm.user)" href="#/mediaEdit/{{art.artId}}" class="btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
							<a ng-if="!isNotLoggedIn() && !isUserOwner(art.createdBy) && !hasAdminPrivileges() && !surveysPending" href="#/artPayment/{{art.artId}}" class="btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
							<a ng-if="isUserOwner(vm.user) && art.feePaymentPending" href="#/artFeePayment/{{art.artId}}" class="btn btn-sm btn-success">Pay Fee <span class="glyphicon glyphicon-ok-sign"></span></a>
						</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" ng-if="artActivefiltered.length === 0">
					<p>No records found.</p>
				</div>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="artActive" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		<hr>
	</div>
	<div class="container tabs-spacer" ng-show="tab.isSet(2)" ng-if="isUserOwner(vm.user)">
		<hr>
			<div class="row">
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" dir-paginate="art in artInProcessfiltered = (artPurchasedList | filter: {status:'IN_PROCESS'}) | orderBy:-createdDate | itemsPerPage:pageSize" pagination-id="artInProcess" current-page="currentPage">
					<div class="thumbnail">
						<a href="#/artDetails/{{art.artId}}" ng-repeat="artMedia in art.media">
							<img ng-src="{{artMedia.artMediaFilename}}" ng-if="artMedia.artMediaType=='image'" alt="{{art.artName}}" class="thumbnail-search img-responsive">
							<video ngf-thumbnail="artMedia.artMediaFilename" ng-if="artMedia.artMediaType=='video'" class="thumbnail-search img-responsive"></video>
							<img src="./images/audio.png" ng-if="artMedia.artMediaType=='audio'" class="thumbnail-search img-responsive"></img>
							<img src="./images/pdf2.png" ng-if="artMedia.artMediaType=='pdf'" class="thumbnail-search img-responsive"></img>
						</a>
						<div class="caption-full">
							<h4 style="font-weight: bold"><a href="#/artDetails/{{art.artId}}">{{art.artName}}</a></h4>
							<h5 class="text-right">{{art.price | currency}} {{art.currencyType}}</h5>
							<p class="text-right">Created: {{art.createdDate | date}}</p>
							<p ng-if="isUserOwner(vm.user)" class="text-right">Visited: {{art.visitsCounter}} times</p>
							<hr style="margin-top: 3px; margin-bottom: 3px;"/>
							<p class="thumbnail-cat">Categories: 
								<a href="#/search/{{art.artType}}">{{art.artType}}</a>, 
								<a href="#/search/{{art.artSubtype}}">{{art.artSubtype}}</a>
							</p>
						</div>
						<div class="ratings">
							<p class="pull-right"><a href="#/artDetails/{{art.artId}}">{{art.reviews}} reviews</a></p>
							<p>
								<input-stars ng-model="art.rating" max="5" readonly></input-stars>
							</p>
						</div>
						<hr style="margin-top: 0px; margin-bottom: 5px;"/>
						<p class="text-center">
							<a href="#/artDetails/{{art.artId}}" class="btn btn-sm btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-search"></span> View</a>
						</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" ng-if="artInProcessfiltered.length === 0">
					<p>No records found.</p>
				</div>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="artInProcess" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		<hr>
	</div>
	<div class="container tabs-spacer" ng-show="tab.isSet(3)">
		<hr>
			<div class="row">
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" dir-paginate="art in artSoldfiltered = (artList | filter: {status:'SOLD'}) | orderBy:-createdDate | itemsPerPage:pageSize" pagination-id="artSold" current-page="currentPage">
					<div class="thumbnail">
						<a href="#/artDetails/{{art.artId}}" ng-repeat="artMedia in art.media">
							<img ng-src="{{artMedia.artMediaFilename}}" ng-if="artMedia.artMediaType=='image'" alt="{{art.artName}}" class="thumbnail-search img-responsive">
							<video ngf-thumbnail="artMedia.artMediaFilename" ng-if="artMedia.artMediaType=='video'" class="thumbnail-search img-responsive"></video>
							<img src="./images/audio.png" ng-if="artMedia.artMediaType=='audio'" class="thumbnail-search img-responsive"></img>
							<img src="./images/pdf2.png" ng-if="artMedia.artMediaType=='pdf'" class="thumbnail-search img-responsive"></img>
						</a>
						<div class="caption-full">
							<h4 style="font-weight: bold"><a href="#/artDetails/{{art.artId}}">{{art.artName}}</a></h4>
							<h5 class="text-right">{{art.price | currency}} {{art.currencyType}}</h5>
							<p class="text-right">Created: {{art.createdDate | date}}</p>
							<p ng-if="isUserOwner(vm.user)" class="text-right">Visited: {{art.visitsCounter}} times</p>
							<hr style="margin-top: 3px; margin-bottom: 3px;"/>
							<p class="thumbnail-cat">Categories: 
								<a href="#/search/{{art.artType}}">{{art.artType}}</a>, 
								<a href="#/search/{{art.artSubtype}}">{{art.artSubtype}}</a>
							</p>
						</div>
						<div class="ratings">
							<p class="pull-right"><a href="#/artDetails/{{art.artId}}">{{art.reviews}} reviews</a></p>
							<p>
								<input-stars ng-model="art.rating" max="5" readonly></input-stars>
							</p>
						</div>
						<hr style="margin-top: 0px; margin-bottom: 5px;"/>
						<p class="text-center">
							<a href="#/artDetails/{{art.artId}}" class="btn btn-sm btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-search"></span> View</a>
							<a ng-if="isUserOwner(vm.user) && art.feePaymentPending" href="#/artFeePayment/{{art.artId}}" class="btn btn-sm btn-success">Pay Fee <span class="glyphicon glyphicon-ok-sign"></span></a>
						</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" ng-if="artSoldfiltered.length === 0">
					<p>No records found.</p>
				</div>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="artSold" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		<hr>
	</div>
	<div class="container tabs-spacer" ng-show="tab.isSet(4)" ng-if="isUserOwner(vm.user)">
		<hr>
			<div class="row">
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" dir-paginate="art in artBoughtfiltered = (artPurchasedList | filter: {status:'SOLD'}) | orderBy:-createdDate | itemsPerPage:pageSize" pagination-id="artBought" current-page="currentPage">
					<div class="thumbnail">
						<a href="#/artDetails/{{art.artId}}" ng-repeat="artMedia in art.media">
							<img ng-src="{{artMedia.artMediaFilename}}" ng-if="artMedia.artMediaType=='image'" alt="{{art.artName}}" class="thumbnail-search img-responsive">
							<video ngf-thumbnail="artMedia.artMediaFilename" ng-if="artMedia.artMediaType=='video'" class="thumbnail-search img-responsive"></video>
							<img src="./images/audio.png" ng-if="artMedia.artMediaType=='audio'" class="thumbnail-search img-responsive"></img>
							<img src="./images/pdf2.png" ng-if="artMedia.artMediaType=='pdf'" class="thumbnail-search img-responsive"></img>
						</a>
						<div class="caption-full">
							<h4 style="font-weight: bold"><a href="#/artDetails/{{art.artId}}">{{art.artName}}</a></h4>
							<h5 class="text-right">{{art.price | currency}} {{art.currencyType}}</h5>
							<p class="text-right">Created: {{art.createdDate | date}} by <a href="#/profile/{{art.createdBy}}">{{art.createdBy}}</a></p>
							<p ng-if="isUserOwner(vm.user)" class="text-right">Visited: {{art.visitsCounter}} times</p>
							<hr style="margin-top: 3px; margin-bottom: 3px;"/>
							<p class="thumbnail-cat">Categories: 
								<a href="#/search/{{art.artType}}">{{art.artType}}</a>, 
								<a href="#/search/{{art.artSubtype}}">{{art.artSubtype}}</a>
							</p>
						</div>
						<div class="ratings">
							<p class="pull-right"><a href="#/artDetails/{{art.artId}}">{{art.reviews}} reviews</a></p>
							<p>
								<input-stars ng-model="art.rating" max="5" readonly></input-stars>
							</p>
						</div>
						<hr style="margin-top: 0px; margin-bottom: 5px;"/>
						<p class="text-center">
							<a href="#/artDetails/{{art.artId}}" class="btn btn-sm btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-search"></span> View</a>
						</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" ng-if="artBoughtfiltered.length === 0">
					<p>No records found.</p>
				</div>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="artBought" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		<hr>
	</div>
	<div class="container tabs-spacer" ng-show="tab.isSet(5)" ng-if="isUserOwner(vm.user)">
		<hr>
			<div class="row">
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" dir-paginate="art in artInPendingValidationfiltered = (artList | filter: {status:'PENDING VALIDATION'}) | orderBy:-createdDate | itemsPerPage:pageSize" pagination-id="artInPendingValidation" current-page="currentPage">
					<div class="thumbnail">
						<a href="#/artDetails/{{art.artId}}" ng-repeat="artMedia in art.media">
							<img ng-src="{{artMedia.artMediaFilename}}" ng-if="artMedia.artMediaType=='image'" alt="{{art.artName}}" class="thumbnail-search img-responsive">
							<video ngf-thumbnail="artMedia.artMediaFilename" ng-if="artMedia.artMediaType=='video'" class="thumbnail-search img-responsive"></video>
							<img src="./images/audio.png" ng-if="artMedia.artMediaType=='audio'" class="thumbnail-search img-responsive"></img>
							<img src="./images/pdf2.png" ng-if="artMedia.artMediaType=='pdf'" class="thumbnail-search img-responsive"></img>
						</a>
						<div class="caption-full">
							<h4 style="font-weight: bold"><a href="#/artDetails/{{art.artId}}">{{art.artName}}</a></h4>
							<h5 class="text-right">{{art.price | currency}} {{art.currencyType}}</h5>
							<p class="text-right">Created: {{art.createdDate | date}}</p>
							<hr style="margin-top: 3px; margin-bottom: 3px;"/>
							<p class="thumbnail-cat">Categories: 
								<a href="#/search/{{art.artType}}">{{art.artType}}</a>, 
								<a href="#/search/{{art.artSubtype}}">{{art.artSubtype}}</a>
							</p>
						</div>
						<div class="ratings">
							<p class="pull-right"><a href="#/artDetails/{{art.artId}}">{{art.reviews}} reviews</a></p>
							<p>
								<input-stars ng-model="art.rating" max="5" readonly></input-stars>
							</p>
						</div>
						<hr style="margin-top: 0px; margin-bottom: 5px;"/>
						<p class="text-center">
							<a href="#/artDetails/{{art.artId}}" class="btn btn-sm btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-search"></span> View</a>
							<a ng-if="isUserOwner(vm.user)" href="#/mediaEdit/{{art.artId}}" class="btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
							<a ng-if="isUserOwner(vm.user) && art.feePaymentPending" href="#/artFeePayment/{{art.artId}}" class="btn btn-sm btn-success">Pay Fee <span class="glyphicon glyphicon-ok-sign"></span></a>
						</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3 col-md-3 result-listing" ng-if="artInPendingValidationfiltered.length === 0">
					<p>No records found.</p>
				</div>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="artInPendingValidation" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		<hr>
	</div>
</div>
<!-- End Profile Tabs -->

<!-- User comments -->
<div class="well" ng-if="comments.length || !isNotLoggedIn()">
	<div dir-paginate="comment in comments | orderBy:-createdDate | itemsPerPage:pageSize" pagination-id="profileComments">
		<div class="row">
			<div class="col-md-12">
				by <a href="#/profile/{{comment.createdBy}}">{{comment.createdBy}}</a>:
				<span class="pull-right">{{comment.createdDate | date:'medium'}}</span>
				<br /><br />
				<p>{{comment.comment}}</p>
				<a ng-click="deleteUserComment(comment.userCommentId)" class="btn btn-small btn-danger pull-right" ng-show="hasAdminPrivileges()">delete</a>
			</div>
		</div>
		<hr>
	</div>
	<!-- Pagination -->
	<div class="text-center">
		<dir-pagination-controls pagination-id="profileComments" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
	<div ng-if="!isNotLoggedIn()">
		<form name="form" ng-submit="addUserComments()" role="form">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="comment">Comment:</label>
							<textarea class="form-control" rows="5" name="comment" id="comment" ng-model="vm.comments" ng-maxlength="500"
							ng-pattern="txtPattern" ng-disabled="surveysPending" required></textarea>
							<span ng-if="vm.comments" class="help-block">{{500 - vm.comments.length}} out of 500 characters</span>
							<span ng-show="form.comment.$dirty && form.comment.$error.required" class="help-block">Comments are required</span>
							<span ng-show="form.comment.$error.pattern" style="color: #a94442">Enter only string.</span>
							<span ng-show="form.comment.$error.maxlength" class="help-block">Max of 500 characters</span>
							<span class="help-block"><gentle ng-model="vm.comments"></gentle></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-right">
						<button type="submit" class="btn btn-success" ng-disabled="form.$invalid || isNotgentle || surveysPending">Leave a Comment</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- End user comments -->



<!-- Resume Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resume</h4>
      </div>
      <div class="modal-body">
      	<pre>{{vm.resume}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
   </div>
</div>

<!-- Private Inbox Modal -->
<div class="modal fade" id="privateInboxModal" tabindex="-1" role="dialog" aria-labelledby="privateInboxModalLabel">
	<div class="modal-dialog" role="document">
		<form name="formInbox" role="form" ng-submit="sendPrivateInbox()">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addrsModalLabel">Send Private Inbox</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
			            <label for="fname">From: </label>
						<span class="form-control-static">{{user}}</span>
			        </div>
			        <div class="form-group">
			            <label for="fname">To: </label>
						<span class="form-control-static">{{vm.user}}</span>
			        </div>
			        <div class="form-group" ng-class="{ 'has-error': formInbox.subject.$dirty && formInbox.subject.$error.required }">
			            <label for="subject">Subject</label>
			            <input type="text" name="subject" id="subject" class="form-control" ng-model="subject" placeholder="Your Subject..." ng-pattern="txtPattern" required/>
			            <span ng-show="formInbox.subject.$dirty && formInbox.subject.$error.required" class="help-block">Subject is required</span>
			            <span ng-show="formInbox.subject.$error.pattern" style="color: #a94442">Enter only string.</span>
			        </div>
			        <div class="form-group" ng-class="{ 'has-error': formInbox.message.$dirty && formInbox.message.$error.required }">
			            <label for="message">Message</label>
			            <textarea class="form-control" rows="5" name="message" id="message" ng-model="vm.message" ng-maxlength="500" placeholder="Your Message..." 
			            ng-pattern="txtPattern" required></textarea>
						<span ng-if="vm.message" class="help-block">{{500 - vm.message.length}} out of 500 characters</span>
						<span ng-show="formInbox.message.$dirty && formInbox.message.$error.required" class="help-block">Message is required</span>
						<span ng-show="formInbox.message.$error.maxlength" class="help-block">Max of 500 characters</span>
						<span ng-show="formInbox.message.$error.pattern" style="color: #a94442">Enter only string.</span>
						<span class="help-block"><gentle ng-model="vm.message"></gentle></span>
			        </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" ng-click="sendPrivateInbox()" data-dismiss="modal" class="btn btn-primary" ng-disabled="formInbox.$invalid || isNotgentle">Send</button>
				</div>
			</div>
	    </form>
	</div>
</div>
