<br/>
<!-- Search Results -->
<div class="row">
	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4 ng-show="filteredList.length < searchCount">Found {{searchCount}} records <span ng-hide="vm.keywords == 'undefined' || vm.keywords == ''">for keyword: <i>{{vm.keywords}}</i></span></h4>
					<h4 ng-show="filteredList.length == searchCount">Found {{searchCount}} records <span ng-hide="vm.keywords == 'undefined' || vm.keywords == ''">for keyword: <i>{{vm.keywords}}</i></span></h4>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<h4>Page: {{ currentPage }}</h4>
	            </div>
	            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
	            	<div class="pull-right">
						<select class="form-control" ng-model="pageSize">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="70">70</option>
							<option value="100">100</option>
						</select>
		            </div>
				</div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<button class="visible-xs" data-toggle="collapse" data-target="#FilterParameters" style="margin-bottom: 20px;">Filters <span class="caret"></span></button>
				<div class="hidden-xs FilterParameters" id="FilterParameters">
					<div class="panel panel-default">
						<div class="panel-heading hidden-xs">
							<h3 class="panel-title text-center">Filters</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								<div class="input-group input-group-md">
									<input type="text" class="form-control" placeholder="Filter Results" aria-describedby="sizing-addon3" ng-model="query.$">
									<span class="input-group-addon" id="sizing-addon3">
										<span class="glyphicon glyphicon-filter"></span>
									</span>
								</div>
							</li>
							<li class="list-group-item">
								<div class="input-group input-group-md">
									<select class="form-control" ng-model="orderProp">
										<option value="artName">Name</option>
										<option value="-lastUpdatedDate">Newest</option>
										<option value="lastUpdatedDate">Oldest</option>
										<option value="price">Price - Low to High</option>
										<option value="-price">Price - High to Low</option>
										<option value="rating">Rating - Low to High</option>
										<option value="-rating">Rating - High to Low</option>
									</select>
									<span class="input-group-addon" id="sizing-addon3">
										<span class="glyphicon glyphicon-sort"></span>
									</span>
								</div>
							</li>
							<li class="list-group-item">
								<div class="form-input">
									<h4>By Rating</h4><br />
									<div ng-repeat="(key, value) in artList | filter:query | countBy:'rating'">
										<div class="row" ng-show="!query.rating">
											<div class="col-lg-12">
												<p>
													<a ng-click="filterByStars(key)">
														<span ng-show="key == 1">
															<span class="glyphicon glyphicon-star"></span>
															<span class="badge pull-right">{{value}}</span>
														</span>
														<span ng-show="key == 2">
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="badge pull-right">{{value}}</span>
														</span>
														<span ng-show="key == 3">
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="badge pull-right">{{value}}</span>
														</span>
														<span ng-show="key == 4">
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="badge pull-right">{{value}}</span>
														</span>
														<span ng-show="key == 5">
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="glyphicon glyphicon-star"></span>
															<span class="badge pull-right">{{value}}</span>
														</span>
														<span ng-show="key == 0">
															Not Ranked <span class="badge pull-right">{{value}}</span>
														</span>
													</a>
												</p>
											</div>
										</div>
									</div>
									<div class="row" ng-hide="!query.rating">
										<div class="col-lg-12">
											<button ng-click="filterByStars('')" type="button" class="btn btn-block btn-danger">
												<span ng-show="query.rating == 1">
													<span class="glyphicon glyphicon-star"></span>
													<span class="badge pull-right">{{value}}</span>
												</span>
												<span ng-show="query.rating == 2">
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="badge pull-right">{{value}}</span>
												</span>
												<span ng-show="query.rating == 3">
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="badge pull-right">{{value}}</span>
												</span>
												<span ng-show="query.rating == 4">
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="badge pull-right">{{value}}</span>
												</span>
												<span ng-show="query.rating == 5">
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="badge pull-right">{{value}}</span>
												</span>
												<span ng-show="query.rating == 0">
													Not Ranked <span class="badge pull-right">{{value}}</span>
												</span>
												<span class="glyphicon glyphicon-remove-circle pull-right"></span>
											</button>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="form-input">
									<h4>By Location</h4><br />
									<div class="row">
										<div class="col-lg-12">
											<div ng-repeat="(key, value) in locations | filter:query.location | groupBy: 'country'">
												<div class="row">
													<div class="col-lg-12">
														<h5>
															<a ng-hide="query.location.country" ng-click="filterByCountry(key)">
																<span>{{key}}</span>
																<span class="badge pull-right">{{value.length}}</span>
															</a>
														</h5>
														<button ng-show="query.location.country == key" ng-click="filterByCountry('')" type="button" class="btn btn-block btn-danger">
															{{key}} <span class="glyphicon glyphicon-remove-circle pull-right"></span>
														</button>
													</div>
												</div>
												<div ng-repeat="(key2, value2) in value | groupBy: 'state'">
													<div class="row" ng-show="query.location.country == key">
														<div class="col-lg-12">
															<h5>
																<a ng-hide="query.location.state" ng-click="filterByState(key, key2)" style="margin-left: 10px;">
													        		<span>{{key2}}</span>
													        		<span class="badge pull-right">{{value2.length}}</span>
													        	</a>
												        	</h5>
												        	<button ng-show="query.location.state == key2" ng-click="filterByState(key, '')" type="button" class="btn btn-block btn-danger">
																{{key2}} <span class="glyphicon glyphicon-remove-circle pull-right"></span>
															</button>
														</div>
													</div>
													<div ng-repeat="(key3, value3) in value2 | groupBy: 'city'">
														<div class="row" ng-show="query.location.state == key2">
															<div class="col-lg-12">
																<h5>
																	<a ng-hide="query.location.city" ng-click="filterByCity(key, key2, key3)" style="margin-left: 30px;">
														        		<span>{{key3}}</span>
														        		<span class="badge pull-right">{{value3.length}}</span>
														        	</a>
													        	</h5>
													        	<button ng-show="query.location.city == key3" ng-click="filterByCity(key, key2, '')" type="button" class="btn btn-block btn-danger">
																	{{key3}} <span class="glyphicon glyphicon-remove-circle pull-right"></span>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" dir-paginate="art in artList | filter:query:rating:location | orderBy:orderProp | itemsPerPage:pageSize as filteredList" current-page="currentPage">
						<div class="thumbnail">
							<a href="#/artDetails/{{art.artId}}" ng-repeat="artMedia in art.media" target="_blank">
								<img ng-src="{{artMedia.artMediaFilename}}" ng-if="artMedia.artMediaType=='image'" alt="{{art.artName}}" class="thumbnail-search img-responsive">
								<video ngf-thumbnail="artMedia.artMediaFilename" ng-if="artMedia.artMediaType=='video'" class="thumbnail-search img-responsive"></video>
								<img src="./images/audio.png" ng-if="artMedia.artMediaType=='audio'" class="thumbnail-search img-responsive"></img>
								<img src="./images/pdf2.png" ng-if="artMedia.artMediaType=='pdf'" class="thumbnail-search img-responsive" ></img>
							</a>
							<div class="caption-full">
								<h4 style="font-weight: bold; text-transform: capitalize;"><a href="#/artDetails/{{art.artId}}" target="_blank">{{art.artName | lowercase}}</a></h4>
								<h5 class="text-right">{{art.price | currency}} {{art.currencyType}}</h5>
								<p class="text-right">Author: <a href="#/profile/{{art.createdBy}}" target="_blank">{{art.createdBy}}</a></p>
								<hr style="margin-top: 3px; margin-bottom: 3px;"/>
								<p class="text-center thumbnail-cat">
									<a href="#/search/{{art.artType}}" target="_blank">{{art.artType}}</a>, 
									<a href="#/search/{{art.artSubtype}}" target="_blank">{{art.artSubtype}}</a>
								</p>
							</div>
							<div class="ratings">
								<p class="pull-right"><a href="#/artDetails/{{art.artId}}" target="_blank">{{art.reviews}} reviews</a></p>
								<p>
									<input-stars ng-model="art.rating" max="5" readonly></input-stars>
								</p>
							</div>
							<hr style="margin-top: 0px; margin-bottom: 5px;"/>
							<p class="text-center">
								<a href="#/artDetails/{{art.artId}}" class="btn btn-sm btn-primary" role="button" target="_blank"><span class="glyphicon glyphicon glyphicon-search"></span> View</a>
								<a ng-if="!isNotLoggedIn() && !isUserOwner(art.createdBy) && isBuyEnabled(art)" 
									href="#/artPayment/{{art.artId}}" class="btn btn-sm btn-default" role="button" target="_blank"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
								<a href="#/mediaEdit/{{art.artId}}" ng-show="isUserOwner(art.createdBy) || hasAdminPrivileges()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
						</div>
						<br ng-if="!(($index + 1) % 3)" />
					</div>
				</div>
			</div>
		</div>
		<hr>
        <!-- Pagination -->
		<div class="text-center">
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
		</div>
	</div>
</div>
<!-- End Search Results -->
