<br />
<div class="container">
	<!-- Reports -->
	<div class="row">
		<div class="col-lg-12">
			<h4>Reports</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="list-group">
				<a ng-click="showVisits()" class="list-group-item" ng-class="{ 'active': isVisitsActive }">Profile vs. Arts Visits</a>
				<a ng-click="showSalesCurrent()" class="list-group-item" ng-class="{ 'active': isSalesCurrentActive }">Sales - Current Year</a>
				<a ng-click="showSalesLast()" class="list-group-item" ng-class="{ 'active': isSalesLastActive }">Sales - Last Year</a>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="row" ng-if="isVisitsActive">
				<div class="col-lg-6 col-md-offset-3">
					<canvas id="pie" class="chart chart-pie"
						chart-data="data3" chart-labels="labels3" chart-options="optionsPie">
					</canvas>
				</div>
			</div>
			
			<div class="row" ng-if="isSalesCurrentActive">
				<canvas id="line" class="chart chart-line" chart-data="data"
					chart-labels="labels" chart-series="series" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas>
			</div>
			
			<div class="row" ng-if="isSalesLastActive">
				<canvas id="bar" class="chart chart-bar" chart-data="data2" 
					chart-labels="labels2" chart-series="series2"></canvas>
			</div>
			
			<div class="row">
				<canvas id="bar" class="chart chart-bar" chart-data="data4" 
					chart-labels="labels4" chart-series="series4"></canvas>
			</div>
			
		</div>
	</div>
	<!-- End reports -->
</div>
