<br />

<div class="row text-center" ng-if="showPanel">
	<div class="col-lg-12">
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
				aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%
			</div>
		</div>
	</div>
</div>

<div class="row" ng-if="showPanel">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Art Fee Payment</h3>
			</div>
			<div class="panel-body">
				<div ng-if="art.status === 'PENDING VALIDATION'">
					<p>Your Art has been created and registered successfully, but still it's not published in the portal.</p>
					<p>In order to publish your art in Memmorable, you should pay a fee of <i><b>{{artFee}}%</b></i>.</p>
				</div>
				<div ng-if="art.status != 'PENDING VALIDATION'">
					<p>Your Art has been created and registered successfully, but the fee payment is still pending.</p>
					<p>In order to continue active selling your art across Memmorable, you should pay a fee of <i><b>{{artFee}}%</b></i>.</p>
				</div>
				<p>Please choose the option that fits to your interest. Pay via: </p>
				<ul>
					<li>PayPal (your publication will be activated as soon as the payment is success). 
						<span ng-if="!art.feePaymentPending">You will get a 20% off</span>
					</li>
					<li>Bank Deposit where you should send the evidence to our Admin team so they can validate and enable your publication. 
						<span ng-if="!art.feePaymentPending">You will get a 20% off</span>
					</li>
					<li>Bank Transfer where you should send the evidence to our Admin team so they can validate and enable your publication. 
						<span ng-if="!art.feePaymentPending">You will get a 20% off</span>
					</li>
					<li ng-if="!art.feePaymentPending">Activate & Pay Fee at the End.</li>
				</ul>
				<div>
					<h5 ng-if="creditAvailable"><i><b>Due to your membership payment, you still have {{creditAvailable | currency}} {{art.currencyType}} of credit available. It will automatically apply a fee discount as show below:</b></i></h5>
				</div>
				<br />
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="list-group">
							<button ng-if="artFeeCurrencyFinal > 0" type="button" class="list-group-item" ng-click="submitPayPalPayment()">
								<h4 class="list-group-item-heading text-center">
									<img alt="Pay with PayPal" src="./images/PP_logo_h_200x51.png"/></h4>
								<h5 class="list-group-item-text text-center">
									Fee: <span ng-if="!art.feePaymentPending" style="color: red;">20% Off</span> - {{artFeeCurrency | currency}} {{art.currencyType}}<br />
									<span ng-if="creditAvailable">Credit available: {{creditAvailable | currency}} {{art.currencyType}}</span><br />
									<span ng-if="creditAvailable"><b>Final fee: {{artFeeCurrencyFinalPP | currency}} {{art.currencyType}}</b></span>
									<span ng-if="artFeeCurrencyFinalPP === 0.01" class="label label-warning">
										<br/>Note: {{0.01 | currency}} {{art.currencyType}} is the minimum quantity required by PayPal.
									</span>
								</h5>
							</button>
							<button ng-if="artFeeCurrencyFinal > 0" type="button" class="list-group-item" ng-click="submitDepositPayment()">
								<h4 class="list-group-item-heading text-center">Bank Deposit</h4>
								<h5 class="list-group-item-text text-center">
									Fee: <span ng-if="!art.feePaymentPending" style="color: red;">20% Off</span> - {{artFeeCurrency | currency}} {{art.currencyType}}<br />
									<span ng-if="creditAvailable">Credit available: {{creditAvailable | currency}} {{art.currencyType}}</span><br />
									<span ng-if="creditAvailable"><b>Final fee: {{artFeeCurrencyFinal | currency}} {{art.currencyType}}</b></span>
								</h5>
							</button>
							<button ng-if="artFeeCurrencyFinal > 0" type="button" class="list-group-item" ng-click="submitTransferPayment()">
								<h4 class="list-group-item-heading text-center">Bank Transfer</h4>
								<h5 class="list-group-item-text text-center">
									Fee: <span ng-if="!art.feePaymentPending" style="color: red;">20% Off</span> - {{artFeeCurrency | currency}} {{art.currencyType}}<br />
									<span ng-if="creditAvailable">Credit available: {{creditAvailable | currency}} {{art.currencyType}}</span><br />
									<span ng-if="creditAvailable"><b>Final fee: {{artFeeCurrencyFinal | currency}} {{art.currencyType}}</b></span>
								</h5>
							</button>
							<button ng-if="artFeeCurrencyFinal == 0" type="button" class="list-group-item" ng-click="submitPaymentWithCredit()">
								<h4 class="list-group-item-heading text-center" style="color: green;">Apply Now</h4>
								<h5 class="list-group-item-text text-center">
									Fee: <span ng-if="!art.feePaymentPending" style="color: red;">20% Off</span> - {{artFeeCurrency | currency}} {{art.currencyType}}<br />
									<span ng-if="creditAvailable">Credit available: {{creditAvailable | currency}} {{art.currencyType}}</span><br />
									<span ng-if="creditAvailable"><b>Final fee: {{artFeeCurrencyFinal | currency}} {{art.currencyType}}</b></span>
								</h5>
							</button>
							<button ng-if="!art.feePaymentPending" type="button" class="list-group-item" ng-click="submitPayLaterPayment()">
								<h4 class="list-group-item-heading text-center">Activate & Pay Fee at the End</h4>
								<h5 class="list-group-item-text text-center">
									Fee: {{artFeeCurrencyEnd | currency}} {{art.currencyType}}<br />
									<span ng-if="creditAvailable">Credit available: {{creditAvailable | currency}} {{art.currencyType}}</span><br />
									<span ng-if="creditAvailable"><b>Final fee: {{artFeeCurrencyEndFinal | currency}} {{art.currencyType}}</b></span>
								</h5>
							</button>
						</div>
					</div>
				</div>
				
				<br />
				<div class="text-center">
					<a href="#/profile/{{user}}" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> My Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
