<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div ng-if="approval_url" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">PayPal Payment Information</h3>
				</div>
				<div class="panel-body">
						<p>Thanks for considering paying using Paypal service.</p>
						<p>Please click on the below button in order to complete the payment process. 
						It will redirect you to Paypal Web site so you can confirm your payment.</p>
						<br />
						<a class="btn btn-block btn-success" href="{{approval_url}}">I Approve</a>
						<a class="btn btn-block btn-danger" ng-click="cancel()">Cancel</a>
				</div>
			</div>
			<div ng-if="isBankDetailsEnabled" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Bank Payment Information</h3>
				</div>
				<div class="panel-body">
					<h5>Please send the evidence to our Admin team so they can validate and enable your publication.</h5>
					<br />
					<ul class="list-group">
						<li class="list-group-item"><b>Bank:</b> Bank Of America</li>
						<li class="list-group-item"><b>Order to:</b> Aentheus, LLC</li>
						<li class="list-group-item"><b>Account #:</b> 1641 0211 7300</li>
						<li class="list-group-item"><b>ACH Routing Number:</b> 121000358</li>
					</ul>
				</div>
			</div>
			<div ng-if="isLaterEnabled" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Activate and Pay Fee at the end</h3>
				</div>
				<div class="panel-body">
					<p>Your art will be activated without paying a fee. You have to pay the fee once your art has been sold.</p>
					<br />
					<a class="btn btn-block btn-success" ng-click="activateArtWithNoFee()">I Approve</a>
					<a class="btn btn-block btn-danger" ng-click="cancel()">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>