<div class="container">
	<!-- Pricing Details -->
	<div class="row tabs-spacer">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="role.role_name === 'ADMIN'">
			<!-- PRICE ITEM -->
			<div class="panel price" ng-class="{'panel-red-light': role.role_name==='YEAR', 'panel-blue': role.role_name === 'HALF_YEAR', 
												'panel-green': role.role_name === 'FOURTHMONTHLY', 'panel-grey': role.role_name === 'QUARTER', 
												'panel-gold': role.role_name === 'BIMONTHLY', 'panel-brown': role.role_name === 'MONTHLY', 
												'panel-white': role.role_name === 'FREE', 'panel-orange': role.role_name === 'CERTIFIED'}">
				<div class="panel-heading  text-center">
					<h3>{{role.role_text_name}} <span ng-if="role.role_text_name === membershipInfo"><b><i> - Current</i></b></span></h3> 
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size: 30px">
						<strong ng-show="role.cycle_time == 12">{{role.price | currency}} / year</strong>
						<strong ng-show="role.cycle_time == 0">{{role.price | currency}}</strong>
						<strong ng-show="role.cycle_time > 0 && role.cycle_time < 12">{{role.price | currency}} / {{role.cycle_time}} months</strong>
					</p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item" ng-show="role.publicationsAllowed == -1">
						<i class="icon-ok text-danger"><span class="glyphicon glyphicon-ok"></span></i> Unlimited Publications
					</li>
					<li class="list-group-item" ng-show="role.publicationsAllowed > 0">
						<i class="icon-ok text-danger"><span class="glyphicon glyphicon-ok"></span></i> {{role.publicationsAllowed}} Publications
					</li>
					<li class="list-group-item">
						<span ng-if="role.expirationDays > -1">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-ok"></span></i> Publication duration for {{role.expirationDays}} days
						</span>
						<span ng-if="role.expirationDays == -1">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-ok"></span></i> Publication duration for unlimited days
						</span>
					</li>
					<li class="list-group-item" ng-show="role.paypalPayEligible">
						<i class="icon-ok text-danger"><span class="glyphicon glyphicon-ok"></span></i> Paypal Payments Eligible
					</li>
					<li class="list-group-item">
						<i class="icon-ok text-danger"><span class="glyphicon glyphicon-ok"></span></i> Own Arragement Elegible
					</li>
					<li class="list-group-item">
						<i class="icon-ok text-danger"><span class="glyphicon glyphicon-ok"></span></i> Own Arragement Fee {{role.feeOwnAgreement | currency}}
					</li>
				</ul>
				<div ng-if="role.role_name === 'CERTIFIED'">
					<div class="panel-body">
						<p><b>In order to become a certified user, you have to:</b></p>
						<p><b>1.  Send by email, the below information to <a href="mailto:icomshfuentes@hotmail.com?Subject=Payment%20Evidences" target="_top">icomshfuentes@hotmail.com</a>:</b></p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-record"></span></i> Register as a <a href="#/pricing/details/free">Free User</a> and share your username/email address used to get registered.
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-record"></span></i> Send the Scanned ID
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-record"></span></i> Address Receipt that matches your ID
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-record"></span></i> Social Security Number (For US citizens)
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-record"></span></i> Resume as art creator
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-record"></span></i> Any additional documents that supports and verifies your Identity, Legality, Capacity y Physical Localization data.
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"><span class="glyphicon glyphicon-record"></span></i> Documents that support your curricular activity: Diplomas, awards, degrees, honorary degrees, etc.
						</li>
					</ul>
					<div class="panel-body">
						<p><b>2. Once we review and validate the documents you sent, we will send you an email with the next steps instructions to pay and get activated as a Certified User.</b></p>
					</div>
				</div>
				<div class="panel-footer">
					<div ng-if="role.role_text_name != membershipInfo">
						<a class="btn btn-block" ng-show="!isNotLoggedIn() && role.role_name != 'FREE'" href="#/payments/{{role.role_name | lowercase}}" 
												ng-class="{'btn-danger': role.role_name==='YEAR', 'btn-info': role.role_name === 'HALF_YEAR', 
												'btn-success': role.role_name === 'FOURTHMONTHLY', 'btn-primary': role.role_name === 'QUARTER', 
												'btn-gold': role.role_name === 'BIMONTHLY', 'btn-brown': role.role_name === 'MONTHLY'}">Buy Now!</a>
						<a class="btn btn-block btn-primary" ng-show="isNotLoggedIn() && role.role_name != 'CERTIFIED'" ng-click="toggleModal()">Buy Now!</a>
					</div>
					<a class="btn btn-block btn-default" href="#/pricing">Cancel</a>
				</div>
			</div>
			<!-- /PRICE ITEM -->
		</div>
	</div>
	<!-- End Pricing Details -->
</div>

<modal title="Login" visible="showModal">
	<div class="alert alert-danger" role="alert" ng-show="showError">{{error}}</div>
	<form name="form" ng-submit="login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions text-right">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a ng-click="register()" class="btn btn-default">Register</a>
            <a ng-click="pwdForgot()" class="btn btn-sm btn-link">Forgot Password?</a>
        </div>
    </form>
</modal>