<div class="container">
	<header class="jumbotron jumbotron-spacer">
		<h1>Membership Information</h1>
		<p>Below are the different membership plans that will be interested for you.</p>
	</header>
	<!-- Pricing -->
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-repeat="role in roleList | orderBy:'role.role_name':'-cycle_time'" ng-hide="role.role_name === 'ADMIN'">
			<div class="panel price" ng-class="{'panel-red-light': role.role_name==='YEAR', 'panel-blue': role.role_name === 'HALF_YEAR', 
												'panel-green': role.role_name === 'FOURTHMONTHLY', 'panel-grey': role.role_name === 'QUARTER', 
												'panel-gold': role.role_name === 'BIMONTHLY', 'panel-brown': role.role_name === 'MONTHLY', 
												'panel-white': role.role_name === 'FREE', 'panel-orange': role.role_name === 'CERTIFIED'}">
				<div class="panel-heading  text-center">
					<h3>{{role.role_text_name}}</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size: 25px">
						<strong ng-show="role.cycle_time == 12">{{role.price | currency}} / year</strong>
						<strong ng-show="role.cycle_time == 0">{{role.price | currency}}</strong>
						<strong ng-show="role.cycle_time > 0 && role.cycle_time < 12">{{role.price | currency}} / {{role.cycle_time}} months</strong>
					</p>
				</div>
				<div class="panel-footer">
					<a ng-if="role.role_text_name != membershipInfo" class="btn btn-lg btn-block" href="#/pricing/details/{{role.role_name | lowercase}}" 
												ng-class="{'btn-danger': role.role_name==='YEAR', 'btn-cert': role.role_name === 'CERTIFIED', 'btn-info': role.role_name === 'HALF_YEAR', 
												'btn-success': role.role_name === 'FOURTHMONTHLY', 'btn-primary': role.role_name === 'QUARTER', 
												'btn-gold': role.role_name === 'BIMONTHLY', 'btn-brown': role.role_name === 'MONTHLY', 
												'btn-default': role.role_name === 'FREE'}">
													<span ng-if="role.role_name != 'FREE'">Buy Now!</span>
													<span ng-if="role.role_name === 'FREE'">Register Now!</span>
												</a>
					<span ng-if="role.role_text_name === membershipInfo" class="btn btn-lg btn-block"
												ng-class="{'btn-danger': role.role_name==='YEAR', 'btn-cert': role.role_name === 'CERTIFIED', 'btn-info': role.role_name === 'HALF_YEAR', 
												'btn-success': role.role_name === 'FOURTHMONTHLY', 'btn-primary': role.role_name === 'QUARTER', 
												'btn-gold': role.role_name === 'BIMONTHLY', 'btn-brown': role.role_name === 'MONTHLY', 
												'btn-default': role.role_name === 'FREE'}">
													<span>Current</span>
												</span>
					<a class="btn btn-lg btn-block btn-default" href="#/pricing/details/{{role.role_name | lowercase}}">More Info</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Pricing -->
</div>
