<div class="container">
	<!-- About Us -->
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Terms &amp; Conditions</h2>
                
                <h3>Introduction</h3>
                <p>This User Agreement, User Privacy Notice, Mobile Terms of Use and all policies posted on our sites set forth the conditions under which Memmorable provides access to and use of our sites, services, applications and tools (collectively Called "Services"). 
All policies, conditions, terms of use for mobile devices and the user's privacy notice are incorporated into this User Agreement. By accessing and using our services you agree to abide by all of the above. 
The foregoing implies that this document is a contract with Memmorable and with Aentheus, LLC, residing in the United States of America. 
                </p>
                
                <h3>About Memmorable</h3>
                <p>Memmorable is a market that allows users to offer, sell and buy almost any artwork, creation, production or artistic service in a variety of formats with freedom and flexibility to set prices and from a variety of locations. The transaction is done directly between the sellers and buyers who are put in contact through the company. Memmorable is not an auction house. 
We can offer guidance on pricing, shipping, profile, and other advice on our services, but such guidance is informational only and you may decide to follow it or not. Also, while we can assist with the resolution of conflicts through various programs, Memmorable has no control and does not guarantee the existence, quality, safety or legality of the advertised articles; the veracity or accuracy of the contents or the lists of the users; the capacity of sellers to sell items or provide the services they offer; the capacity of buyers to pay for the items; or that a buyer or seller will actually complete a transaction or not return an item. 
                </p>
                
                <h3>Using Memmorable</h3>
                <p>Regarding the use or access to the services you will not be able to: </p>
                <ul>
                	<li>Place or list content or articles in inappropriate categories or areas of our sites;</li>
                	<li>Fail to comply with laws, third party rights, or our systems, policies or determinations regarding your statement of account;</li>
                	<li>Use our services if you are not legally capable of entering into legally binding contracts (for example if you are under 18), or if the use of our sites, services, applications or tools is temporarily or indefinitely suspended;</li>
                	<li>Fail to pay for items purchased by you, unless you have a valid reason as set forth in Memmorable policies; for example, if the seller has substantially changed the description of the item after you made an offer, if a clear typographical error exists, or if you cannot contact the seller (see our unpaid item policy);</li>
                	<li>Fail to deliver the items sold by you or not provide the service, unless you have a valid reason as set out in the Memmorable policies; for example, if the buyer does not comply with the published terms or you cannot contact the buyer;</li>
                	<li>Manipulate the price of any item or interfere with the ads of any other user;</li>
                	<li>Send or post false, inaccurate, misleading, defamatory or libelous messages or content;</li>
                	<li>Undertake any action that could affect the voting capture systems, user ratings or feedback system (see about our voting policies);</li>
                	<li>Transfer your Memmorable account (including feedback) and a user ID to a third party without our consent;</li>
                	<li>Distribute or publish spam, unsolicited or bulk electronic communications, chain letters or pyramid schemes;</li>
                	<li>Distribute viruses or other technologies that may damage Memmorable, or the assets or interests of users;</li>
                	<li>Use any robot, spider, scraper or any other automated means to access our services or for any other purpose;</li>
                	<li>Bypass our robot exclusion protocols that interfere with the operation of our services, or impose an excessive or disproportionately large load on our infrastructure;</li>
                	<li>Export or re-export any Memmorable application or tool except in compliance with the export control laws of the respective jurisdictions and in accordance with the rules and restrictions of each country;</li>
                	<li>Reproduce, perform, display, distribute, perform reverse engineer, or prepare derivative works of Content that is owned or otherwise authorized by Memmorable, or that comes from the Services and belongs to another Memmorable user or to a third party, including works covered by Copyrights, trademarks, patents or other intellectual property rights, except with the express prior permission of Memmorable and/or any other party that has the right to grant licenses for such use;</li>
                	<li>Market any Memmorable application or any information or software associated with such application;</li>
                	<li>Collect or post information about users without their consent; or </li>
                	<li>Avoid the technical measures we use to provide the Services.</li>
                </ul>
				<p>If we believe that you are abusing Memmorable in any way, it is possible that at our sole discretion, unilaterally and without prejudice to us being able to use other resources, that we decide to limit, suspend or terminate your user account(s) and access to our services, delay or eliminate the content hosted, remove any special status associated with your account, delete and degrade listings, reduce or eliminate discounts, and take technical and/or legal measures to prevent the use of our services. 
				We may cancel unconfirmed accounts or accounts that have been inactive for an extended period of time or modify or discontinue our services. In addition, we reserve the right to refuse or cancel our services to any person for any reason at our sole discretion.</p> 
                
                <h3>Policy implementation</h3>
                <p>When a problem arises between buyer and seller, we can consider the performance history of each user and the specific circumstances to apply our policies. We can choose to be more lenient in applying our policies in an effort to do the right thing for buyers and sellers.</p>
                
                <h3>Fees and commissions</h3>
                <p>The fees we charge for using our services are listed on our standard sales rates page. We may change our rates to the seller from time to time by posting changes on the Memmorable site 14 days prior, but without notice required for temporary or special promotions.</p> 
				<p>You must have a method of payment at the time of selling or buying with Memmorable and pay all fees and taxes associated with our services on the payment due date. If the method of payment fails or your account is past due, it should be possible to collect fees due through other methods of payment in our archives, collection agencies and lawyers, and, for accounts over 180 days past due, instructing PayPal to deduct the amount owed from the balance of your PayPal account. In addition, you will be subject to late payment charges. Memmorable, or collection agencies that hold payments, may also provide account information to credit bureaus, and as a result, late payments, payments or other defaults or account failures may be reflected on your credit report. If you wish to dispute the information that Memmorable informed to a credit agency (ie, Experian, Equifax or TransUnion), please contact us.</p>
                
                <h3>Posting and Listings Conditions</h3>
                <p>By posting an article or service, you agree to comply with the rules for the inclusion and the selling practices policy and agree that:</p>
                <ul>
                	<li>You are responsible for the accuracy and content of the advertisement and article or service offered.</li>
                	<li>Your ad may not be immediately posted or found on our search engines by keyword or category for several hours (or up to 24 hours in some circumstances). Memmorable cannot guarantee the exact ad publication time. </li>
                	<li>Content that violates any of Memmorable’s policies may be removed at Memmorable discretion.</li>
                	<li>We strive to create a market where buyers find what they are looking for. Therefore, the appearance or placement of ads in search results will depend on a variety of factors including, but not limited to:
                		<ul>
                			<li>Buyer’s location, words used in the web searching, web navigation and navigation history;</li>
                			<li>Location of article, list format, price and shipping cost, the terms of service, time of publication, history and relevance to the user´s query;</li>
                			<li>History of seller, including posting practices, degree of details provided by the seller, compliance with Memmorable policies, feedback and defect rate; and</li>
                			<li>The number of ads that match the buyer´s query.</li>
                		</ul>
                	</li>
                </ul>
                <p>Accordingly, to produce a positive user experience, a result may not appear in any search and you may have to navigate the results without taking into account the sort order chosen by the buyer. </p>
                <ul>
                	<li>Some advanced enhancements to the list will only be visible in certain services.</li>
                	<li>Some Memmorable policies may also affect search results.</li>
                </ul>
                
                <h3>Terms of purchase</h3>
                <p>In buying an item, you agree to the rules for buyers and that:</p>
                <ul>
                	<li>You are responsible for reading the full description of the item shown in the list before making an offer or a commitment to purchase.</li>
                	<li>You are accepting a legally binding contract to purchase an item when you commit to purchase an item.</li>
                	<li>For artistic services, an offer or request initiates a non-binding transaction that represents the serious expression of interest of a buyer in acquiring the services of the seller and does not create a formal contract between the buyer and the seller.</li>
                	<li>We do not transfer legal ownership of the seller's items to the buyer.</li>
                	<li>If you purchase an item on a site other than Memmorable Memmorable.com, you are subject to the User Agreement of that other Memmorable site with respect to the particular purchase.</li>
                </ul>
                
                <h3>International Buying and Selling; Translation</h3>
                <p>Many of our services will be accessible to international sellers and buyers.</p>
                <p>We can offer certain programs, tools and experiences of sites of special interest to international sellers and buyers, such as the local currency conversion estimate and international shipping calculation tools. Sellers and buyers are responsible for complying with all applicable laws and regulations under international sales, purchase and shipping laws.</p>
                <p>It is possible to display the list of your articles directly on one or more of Memmorable sites. In addition, you can tell us that we can use your profile on other Memmorable sites different than Memmorable's original announcement site, including where you can choose from an item list with an international shipping option (such as worldwide shipping or Global Shipping Program): the appearance of your ads on these sites is not guaranteed. When you sell your items internationally, you agree to be subject to the policies of that other site and the International Sale policy of Memmorable. You can restrict international buyers from purchasing your items if you explicitly exclude international shipping on your ads and apply an exclusion list on your ads.</p>
                <p>You authorize us to use automated tools to translate your Memmorable content, in whole or in part, into the local languages, where such translation solutions exist. If you are a buyer, you may have access to the tools that will allow you to translate the content at the customer's request. The accuracy and availability of any translation is not guaranteed and should be checked to see if your profile or content has been translated accurately.</p>
                <p>When you provide us with content or make the content available in the use of our services, you grant us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub licensable license (through multiple levels) to exercise any of the Copyright, trademark and database rights and other intellectual property rights you hold over the content in any means now known or developed in the future. In addition, to the extent permitted by applicable law, you waive your moral rights and agree not to exercise such rights or any other intellectual property or publicity rights against us, our licensees, or our assignees.</p>
                <p>You declare and warrant that none of the following infringes any right mentioned in the preceding paragraph: the provision of content to us, the content to be published in the use of the Services, and the use of such content (including works Derived from it) by us, our users, or other persons who have a contract with us that is made in relation to the Services and in compliance with this User Agreement.</p>
                <p>We can offer catalogs that include images, descriptions and specifications of the products that are provided by third parties (including users). You can use the contents of the catalog only in relation to Memmorable ads. Such authorization is subject to modification or revocation at any time at Memmorable’s sole discretion.</p>
                <p>Although we try to provide reliable data, we cannot promise that catalogs will always be accurate and up-to-date, and you agree that you will not hold us responsible for errors in the catalogs. The catalog may include copyrights, trademarks, or other proprietary materials. The user agrees not to remove any copyright, property or identification markings included in the catalogs or create derivative works based on the contents of the catalog (other than including them in their advertisements).</p>
                
                <h3>Notice of claims of right of Intellectual Property Violations and Copyright</h3>
                <h3>Infringement in accordance with Section 512 (c) of Title 17 of the United States Code</h3>
                <p>We respond to notices of alleged copyright infringement under the Digital Millennium Copyright Act of the United States. Memmorable's Verified Property Rights system works to ensure that the items listed do not infringe the copyrights, trademarks or other intellectual property rights of third parties. If you believe that your intellectual property rights have been violated, please notify our team through our program and we will investigate.</p>
                
                <h3>Learn how to send a reminder to Memmorable.</h3>
                <p>To protect Memmorable from liability for his actions as a seller, Memmorable sometimes recommends, and may continue to recommend, that PayPal restrict access to funds in a seller's PayPal account based on certain factors including, but not limited to, the sale, history, seller’s performance, returns, risk rating of the profile category, transaction value, or submission of a Memmorable money back guarantee case. This may lead to PayPal's determination to restrict the funds in your PayPal account.</p>
                
                <h3>Authorization to communicate with you; Call recording</h3>
                <p>You agree to receive automatic or pre-recorded dialing and text messages from Memmorable on any telephone number you have provided to us or otherwise obtained by Memmorable.</p>
                <p>We may make such calls and texts to: (i) notify you regarding your account; (ii) troubleshoot problems with your account; (iii) resolve a dispute; (iv) collect a debt; (v) solicit your opinions through surveys or questionnaires; (vii) deliver offers and promotions; or (vi) for any other service to your account or to enforce this User Agreement, our policies, applicable law, or any other agreement we have with you.</p>
                <p>Other charges may apply for every minute of phone calls and charges for standard text submissions. </p>
                <p>Memmorable may share your telephone numbers with our service providers (such as PayPal, billing or information or collection systems) that we have hired to assist us in the maintenance of our rights or the performance of our obligations under this User Agreement, our policies, applicable law, or any other agreement we may have with you. The user agrees that these service providers may also contact you, using automatic dialing or pre-recorded text messages and calls, only for authorization from us to carry out the purposes we have identified above, not for their own purposes.</p>
                <p>Memmorable may, without notice or warning and at its sole discretion, monitor or record the conversations or any other form of contact that the user or person acting on his or her behalf has with Memmorable or its agents for training and quality control purposes or for their own protection.</p>
                
                <h3>Privacy of others; Marketing</h3>
                <p>If Memmorable provides you with information about another user, you agree that you will use the information only for the purposes provided to you. You may not disclose, sell, rent or distribute a user's information to a third party for purposes unrelated to the Services.</p>
                <p>In addition, the information cannot be used for marketing purposes, through electronic or other means, unless you obtain the consent of the specific user to do so.</p>
                
                <h3>Additional Terms</h3>
                <ul>
                	<li>
                		<h4>Returns and cancellations</h4>
                		<p>Memmorable offers uncomplicated systems to simplify returns for buyers and sellers. Memmorable can automatically apply items to the lists when a return has been accepted and make a list of items where the return was applied without complications; you agree to comply with our uncomplicated return policies. With Memmorable's uncomplicated system, vendors can manage and track returns through an automated process on our site.</p>
                		<p>When an item is returned and the buyer is reimbursed, you (as seller) authorize Memmorable to instruct PayPal to withdraw the refund amount (in the same or another currency) from your PayPal account, place the amount on your invoice and / or charge your payment according to the registered payment system.</p>
                		<p>The shipping cost for the return of an item that is not as described is responsibility of the seller.</p>
                		<p>Whenever Memmorable has to generate a shipping document, the seller is responsible for its cost, and you (as seller) authorize Memmorable to add the cost of shipping to your invoice and to charge you according to the registered automatic payment method.</p>
                		<p>When a transaction is cancelled, to reimburse the buyer, you (as seller) authorize Memmorable to instruct PayPal to withdraw the amount of the refund (in the same or another currency) from your PayPal account. See our cancellation policy for more details.</p>
                	</li>
                	<li>
                		<h4>Memmorable Money Back Guarantee</h4>
                		<p>Most Memmorable sales happen smoothly, but if there is a problem with a purchase, the Memmorable Money Back Guarantee helps buyers and sellers communicate and solve their problems. Buyers and sellers agree to comply with the policy that allows us to make a final decision on any case of Money Back Guarantee for transactions generated through Memmorable.</p>
                		<p>If you (as seller) decide to reimburse a buyer or are obligated to reimburse to the buyer or Memmorable under the Memmorable Money Back Guarantee, you authorize Memmorable to instruct PayPal to remove the refund amount (in the same or another currency) from your PayPal account, place the invoice amount and/or charge in your recorded form of payment. The return shipping cost for an item that is not as described is the responsibility of the seller and if Memmorable generates a new one, you (as seller) authorize Memmorable to place the cost of the shipment on the invoice, using your registered form of payment. If we cannot obtain reimbursement from you, we may collect outstanding amounts using other collection mechanisms, including collection agencies.</p>
                		<p>We may suspend Memmorable's Money Back Guarantee in whole or in part without notice if we suspect abuse or interference with the proper functioning of the policy.</p>
                	</li>
                	<li>
                		<h4>Exclusion of guarantees; Limitation of Liability</h4>
                		<p>We try to keep our services safe and working properly, but we cannot guarantee their continued operation or access to our services. The update information, listings and other notification functionality in Memmorable applications may not occur in real-time. This functionality is subject to delays beyond the control of Memmorable.</p>
                		<p>The user accepts that he or she is using our Services at his or her own risk, and that the service is accepted "AS IT IS" and "AS AVAILABLE". Accordingly, to the extent permitted by applicable law, we exclude all warranties, express or implied terms and conditions, including, but not limited to, the implied warranties of merchantability, suitability for a particular purpose, and non-infringement.</p>
                		<p>In addition, to the extent permitted by applicable law, (including our parent company, subsidiaries and affiliates, and our officers, directors, agents and employees) are not responsible, and you agree not to hold us liable for damages or losses (Including, but not limited to, loss of money, business funds, reputation, profits, or other intangible losses, or any special, indirect or consequential damages) arising directly or indirectly from:</p>
                		<ul>
                			<li>The use or the inability to use our services;</li>
                			<li>Pricing, shipping or other guidance provided by Memmorable;</li>
                			<li>Delays or interruptions in our services;</li>
                			<li>Viruses or other malicious software obtained through access to, or link to, our services;</li>
                			<li>Technical problems, errors, errors or inaccuracies of any kind in our services;</li>
                			<li>Damage to your hardware device from the use of any Memmorable Service;</li>
                			<li>Content, actions or inactions of third parties, including items on the list using our Services or the destruction of allegedly false elements;</li>
                			<li>The suspension or other action taken in respect of your account or violation of the Memmorable Section </li>
                			<li>How long or how your ads appear in search results on the list Conditions on the previous section; or </li>
                			<li>Their need to change practices, content or behavior or their loss or impossibility of doing business as a result of changes to this User Agreement or our policies.</li>
                		</ul>
                		<p>Some jurisdictions do not allow limitation of warranties or exclusion of damages, so such disclaimers and exclusions may not apply to you.</p>
                		<p>Regardless of the preceding paragraphs, if we find that we are liable, our liability to you or any third party is limited to the greater of the amounts due under which Memmorable guarantees the refund up to the price of the item sold by the Memmorable portal (Including any applicable sales tax) and your original shipping costs, provided that the amount of the costs of the dispute does not exceed the total fees paid to us in the 12 months prior to the action giving rise to civil liability, or $100 USD.</p>
                	</li>
                </ul>
                
                <h3>Claims</h3>
                <p>If you have a dispute with one or more users, with us (our affiliates and subsidiaries, their respective officers, directors, employees and agents) of the claims, claims and damages (actual or resulting) of any kind or nature, known or unknown, arising out of or in any way related to such conflicts, entering into this statement expressly waives any protection (whether legal or otherwise) that would otherwise limit the scope of this version to include only claims that may be known or suspect that they exist in your favor at the time of accepting this version.</p>
                
                <h3>Compensation</h3>
                <p>You will compensate us (and our affiliates and subsidiaries, and our and their respective officers, directors, employees, agents) from any claim or lawsuit, including reasonable attorneys' fees, made by any third party because of or as a result of your breach of this Agreement, the improper use of the Memmorable Services or its violation of any law or the rights of a third party.</p>
                
                <h3>Legal disputes</h3>
                <p>PLEASE READ THIS SECTION CAREFULLY. It affects your rights and will have a substantial impact on how it resolved between you and us.</p>
                <p>You and Memmorable agree that any claims or controversies arising out of or arising from law or equity or in connection with us or in any way related from or derived from this document or prior versions of the User Agreement of Memmorable, its use or access to the Services, or any products or services sold or purchased through the services, will be resolved in accordance with the provisions set forth in this Section regarding legal disputes.</p>
                
                <h3>A. Applicable Law</h3>
                <p>You agree that, except to the extent that it is inconsistent with or preceded by federal law, the laws of the State of California, without regard to conflict of laws principles, shall govern under the User Agreement and any claim or dispute which has arisen or may arise between you and Memmorable, unless otherwise stated in the user agreement. </p>
                
                <h3>B. Arbitration Agreement</h3>
                <p>You and Memmorable agree that any and all disputes or claims that have arisen or may arise between you and Memmorable related in any way to or derived from this or previous versions of the User Agreement, your use or access to the services of Memmorable, or any of the products or services sold, offered or acquired through Memmorable services will be exclusively settled through definitive and binding arbitration, rather than in court. Alternatively, you can assert your claims in the claims court if your claims qualify as long as the matter remains in that court and only advances on an individual (non-group, non-representative) basis. The Federal Arbitration Law governs the interpretation and execution of this arbitration agreement.</p>
                
                <h3>1. Prohibition of Class and Representative Actions and Non-Individualized Relief</h3>
                <p>YOU AGREE THAT MEMORABLE AND EACH MEMBER SHALL MAKE ANY CLAIMS AGAINST THE OTHER ONLY ON AN INDIVIDUAL FORM AND NOT AS A CLASS MEMBER OR ANY CLASS MEMBER IN ANY KIND OR REPRESENTATIVE OR PROCEDURE. UNLESS YOU AND MEMORABLE agree otherwise, the arbitrator shall not be able to consolidate or join MORE THAN ONE CLAIM OF THE PARTY AND, MAY NOT OTHERWISE COVER ANY FORM OF A CONSOLIDATED, REPRESENTATIVE, OR CLASS PROCEDURE. In addition, the arbitrator may grant relief (including monetary matters, PRECAUTIONARY, as a declaratory remedy) only in favor of the individual party seeking relief and only to the extent necessary for SUPPLY SUPPORT needed by the individual claim of that party.</p>
                
            </div>
		</div>
	</section>
	<!-- End About Us -->
</div>
