<br />
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Receipts Evidences</h2>
		</div>
		<div class="panel-body">
			<h5>Please email us your receipts payment evidences, to 
				<a href="mailto:icomshfuentes@hotmail.com?Subject=Payment%20Evidences" target="_top">icomshfuentes@hotmail.com</a>
			</h5>
		</div>
	</div>
	<!-- Contact Us -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Contact Us</h2>
		</div>
		<div class="panel-body">
			<form ng-submit="submit()" name="contactform" role="form">
				<div class="form-group" 
					ng-class="{ 'has-error': contactform.inputName.$dirty && contactform.inputName.$error.required }">
					<label for="inputName">Name</label>
					<input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
					<span ng-show="contactform.inputName.$dirty && contactform.inputName.$error.required" class="help-block">Name is required</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$dirty && contactform.inputEmail.$error.required }">
					<label for="inputEmail">Email</label>
					<input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
					<span ng-show="contactform.inputEmail.$dirty && contactform.inputEmail.$error.required" class="help-block">Email is required</span>
					<span ng-show="contactform.inputEmail.$dirty && contactform.inputEmail.$error.email" class="help-block">Valid E-mail address is required</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$dirty && contactform.inputSubject.$error.required }">
					<label for="inputSubject">Subject</label>
					<input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
					<span ng-show="contactform.inputSubject.$dirty && contactform.inputSubject.$error.required" class="help-block">Subject is required</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$dirty && contactform.inputMessage.$error.required }">
					<label for="inputMessage">Message</label>
					<textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
					<span ng-show="contactform.inputMessage.$dirty && contactform.inputMessage.$error.required" class="help-block">Message is required</span>
					<span class="help-block"><gentle ng-model="formData.inputMessage"></gentle></span>
				</div>
				<div class="form-actions pull-right">
					<a href="#/" class="btn btn-default">Cancel</a>
					<button type="submit" ng-disabled="contactform.$invalid || isNotgentle" class="btn btn-primary">Send Message</button>
				</div>
			</form>
		</div>
	</div>
	<!-- End Contact Us -->
</div>
