<br />
<div class="container">
	<!-- Unauthorized content -->
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-danger">
                	<div class="panel-heading">
                		<h3 class="panel-title">Unauthorized</h3>
                	</div>
                	<div class="panel-body">
						<p>You are not authorized to view this content. Please reach out to our Admin Team.</p>
						<p>Click  <a href="#/home"><span class="glyphicon glyphicon-link"></span> here</a> to go to home page</p>
					</div>
                </div>
            </div>
		</div>
	</section>
	<!-- End Unauthorized content -->
</div>
