<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Information Confirmed</h3>
				</div>
				<div class="panel-body">
					<p>Thanks for you Payment.</p>
					<p ng-show="msgResp">Your {{membershipResp}} Membership has been activated.</p>
					<p ng-hide="msgResp">Your Membership plan could not be activated yet. Please contact the administrator.</p>
					<p>Please keep the following Identifier of the Agreement-ID for any future query:</p>
					<ul>
						<li>
							<p><i><b>{{agreementId}}</b></i></p>
						</li>
					</ul>
					<p>Your new plan will be fully active once you login back again. Please click on the below button to login again.</p>
					<a class="btn btn-block btn-primary" href="#/login">
						<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
