<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Information has been cancelled</h3>
				</div>
				<div class="panel-body">
					<p>The process has been canceled.</p>
					<a class="btn btn-block btn-primary" href="#/">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
