html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 170px;
}
header {
    background-color: #333333;
}

.headerLeftLinks {
	padding-top: 45px;
    padding-left: 100px;
    text-align: right;
}

a, a:hover {
	color: #777;
}

.table th, td {
   text-align: center;   
}

#headerRighTest {
	text-align: right;
}

#bMenu {
	background-color: #4D4D4F;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	height: 17px;
	font-weight: normal !important;
	text-transform: uppercase;
	padding: 0 20px 0 0;
	font-family: Gotham, Arial;
}

#sections {
	padding: 20px;
}

#headerUpText {
	font-size: 14px;
	letter-spacing: 1px;
	color: #d82e4f;
	font-weight: normal !important;
	position: relative;
	padding: 10px;
}

#headerUpBelowText {
	color: #FFFFFF;
}

#g-search-button {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	left: -22px;
	top: 3px;
	background-color: black; /* Replace with your own image */
}

.btn {
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	border: 0 none;
	background: #333333;
	color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
	.btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #555555;
}

.btn-primary:active, .btn-primary.active {
	background: #333333;
	box-shadow: none;
}

.btn-primary:disabled, .btn-primary.disabled {
	background: #999999;
	box-shadow: none;
}

.btn-primary[disabled]:hover, .btn-primary.disabled:hover {
	background: #999999;
	box-shadow: none;
}

.navbar {
	background-color: #4D4D4F;
	border-color: #4D4D4F;
	margin-bottom: 0;
	margin-top: 2px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #909090;
}

.navbar-nav .open .dropdown-menu{
	background-color: #E8E8E8;
}

.editbutton {
	color: #000000;
}

.editbutton:HOVER {
	color: #777777;
	text-decoration: none;
}

.editbutton:FOCUS {
	color: #777777;
	text-decoration: none;
}

.profile-title {
	text-align: center;
	margin-bottom: 0;
}

.art-statement {
	font-family: rb-primary, adelle, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-stretch: normal;
	font-style: italic;
	font-variant: normal;
	font-weight: lighter;
	margin-top: 15px;
}
.art-statement input {
	border: 0px;
    text-align: center;
    background: #FFFFFF;
}

.plus-icon {
	top: -15px;
	left: 70%;
	color: #4D4D4F;
	font-size: 15px;
}
.editProfile {
	position: absolute;
	top: 5%;
	left: 90%;
	
}
.editbox{
	 border: 1px solid #4D4D4F;
	 margin-bottom: 15px;
}
.resumebox{
	height: auto;	
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  padding: 45px 50px;
  /* Set the fixed height of the footer here */
  height: 150px;
}
.footer p {
  color:  #ffffff;
  margin-top: 5px;
  text-align: center;
}
.footer-links {
	font-size:14px;
	font-weight: bold;
	color:  #ffffff;
	margin-top: 5px;
}
.footer-links a {
	color:  inherit;
}
.footer-icons a {
	display: inline-block;
	width: 35px;
	background-color: #454547;
	border-radius: 2px;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	line-height: 35px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.textBox {
	height: 200px;
}

.artMedia {
	border-size:2px;
	border-style:solid;
	border-color:black;
}

.imgFullWidth {
	width: 100%;
}

.jumbotron-spacer {
    margin-top: 50px;
}

.tabs-spacer {
    margin-top: 20px;
}

.thumbnail-pricing {
    margin-bottom: 30px;
}

.thumbnail-search {
	object-fit: contain; 
	max-height: 150px; 
	min-height: 150px;
}

.thumbnail-cat {
	max-height: 20px;
	min-height: 20px;
}

/**/
.top-nav {
    padding: 0 15px;
}
.top-nav>li {
    float: left;
}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    border-bottom: 1px solid rgba(0,0,0,.15);
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus,
	.nav-tabs.nav-justified>.active>a:hover 
{
	background-color: #666666;
	color: #ffffff;
	border: 0 none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
	background-color: #666666;
	border-color: #666666;
}

.pagination>li>a, .pagination>li>span
{
	color: #666666;
}

.caption {
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 5px;
    color: #333;
}
.thumbnail img {
    /*width: 100%;*/
    display: block;
    margin: auto;
}
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
    margin-top: 10px;
}
.ratings a {
    color: #d17581;
}
.descrHeight {
	min-height: 50px;
	max-height: 50px;
}

/* Enabling hovering menu for navbar */
/*.dropdown:hover .dropdown-menu {
	display: block;
}*/

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 15px;
}

#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"\e113";
    float: left;
    font-family: 'Glyphicons Halflings';
	margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114";
}

.bold {
    font-weight: bold;
}


.mediaPicture{
	height: 150px;
	overflow:hidden;
    position: relative;
}
.mediaPicture:HOVER{
	border: thick;
	border-color: #606062;
	border-style: solid;
    border-width: 6px;
}

.primaryPicture{
	border: thick;
	border-color: #606062;
	border-style: solid;
    border-width: 4px;
}

.audioPicture{
	height: 150px;
}
.audioImage{
	max-width:100%;
	max-height:100%;
}
.audioControl{
	position: absolute; 
	bottom: 1px; 
    max-width: 93%;
    min-width: 84%; 
    height: 50px; 
}

.selector {
    min-height: 120px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.selectorPicture{
	
	height: 100px;
	overflow:hidden;
    position: relative;
}
.selectorPicture:HOVER{
	border: thick;
	border-color: #606062;
	border-style: solid;
    border-width: 6px;
}

.viewer {
    max-height: 335px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.viewerMedia {
	height: 100%;
	width: 100%;
}
.playImage{
	position: absolute;
	top: 0;
	height: 20%;
	width: 20%;
}


/* COMMON PRICING STYLES */
.panel {
	margin-bottom: 40px;
}
.panel.price,
.panel.price>.panel-heading{
	border-radius:0px;
	 -moz-transition: all .3s ease;
	-o-transition:  all .3s ease;
	-webkit-transition:  all .3s ease;
}
.panel.price:hover{
	box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
	box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}
.panel.price>.panel-heading{
	box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
	text-shadow:0px 3px 0px rgba(50,50,50, .6);
}
.price .list-group-item{
	border-bottom-:1px solid rgba(250,250,250, .5);
}
.panel.price .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.price .panel-footer {
	color: #fff;
	border-bottom:0px;
	background-color:  rgba(0,0,0, .1);
	box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}
.panel.price .btn{
	box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
	border:0px;
}
/* green panel */
.price.panel-green>.panel-heading {
	color: #fff;
	background-color: #57AC57;
	border-color: #71DF71;
	border-bottom: 1px solid #71DF71;
}
.price.panel-green>.panel-body {
	color: #fff;
	background-color: #65C965;
}
.price.panel-green>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-green .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* blue panel */
.price.panel-blue>.panel-heading {
	color: #fff;
	background-color: #608BB4;
	border-color: #78AEE1;
	border-bottom: 1px solid #78AEE1;
}
.price.panel-blue>.panel-body {
	color: #fff;
	background-color: #73A3D4;
}
.price.panel-blue>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-blue .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* red price */
.price.panel-orange>.panel-heading {
	color: #fff;
	background-color: #D35400;
	border-color: #EDBB99;
	border-bottom: 1px solid #EDBB99;
}
.price.panel-orange>.panel-body {
	color: #fff;
	background-color: #DC7633;
}
.price.panel-orange>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-orange .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* red-light price */
.price.panel-red-light>.panel-heading {
	color: #fff;
	background-color: #D04E50;
	border-color: #FF6062;
	border-bottom: 1px solid #FF6062;
}
.price.panel-red-light>.panel-body {
	color: #fff;
	background-color: #EF5A5C;
}
.price.panel-red-light>.panel-body .lead {
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-red-light .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* grey price */
.price.panel-grey>.panel-heading {
	color: #fff;
	background-color: #6D6D6D;
	border-color: #B7B7B7;
	border-bottom: 1px solid #B7B7B7;
}
.price.panel-grey>.panel-body {
	color: #fff;
	background-color: #808080;
}
.price.panel-grey>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-grey .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* green gold */
.price.panel-gold>.panel-heading {
	color: #fff;
	background-color: #FFCF40;
	border-color: #FFD000;
	border-bottom: 1px solid #FFD000;
}
.price.panel-gold>.panel-body {
	color: #fff;
	background-color: #FFDC59;
}
.price.panel-gold>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-gold .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* green brown */
.price.panel-brown>.panel-heading {
	color: #fff;
	background-color: #b7886e;
	border-color: #d3bd8c;
	border-bottom: 1px solid #d3bd8c;
}
.price.panel-brown>.panel-body {
	color: #fff;
	background-color: #bda068;
}
.price.panel-brown>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-brown .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* white price */
.price.panel-white>.panel-heading {
	color: #333;
	background-color: #eeeeee;
	border-color: #ccc;
	border-bottom: 1px solid #ccc;
	text-shadow: 0px 2px 0px rgba(250,250,250, .7);
}
.panel.panel-white.price:hover>.panel-heading{
	box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
}
.price.panel-white>.panel-body {
	color: #fff;
	background-color: #dfdfdf;
}
.price.panel-white>.panel-body .lead{
		text-shadow: 0px 2px 0px rgba(250,250,250, .8);
		color:#666;
}
.price:hover.panel-white>.panel-body .lead{
		text-shadow: 0px 2px 0px rgba(250,250,250, .9);
		color:#333;
}
.price.panel-white .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
.btn-cert {
	background-color: #DC7633; 
	border-color: #DC7633; 
	color: white;
}
.btn-gold {
	background-color: #FFDC59; 
	border-color: #FFCF40; 
	color: white;
}
.btn-brown {
	background-color: #bda068; 
	border-color: #b7886e; 
	color: white;
}

.carousel-img-fit {
	object-fit: contain;
    max-height: 430px;
    width: 100%;
}

/** Hover Effect **/
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.removeButton {
	position: absolute;
	top:15px;
    right:15px;
    height: 20px;
    width: 20px;
}

.help-block{
	color: #a94442;
}

pre {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #666666;
	border-color: #666666;
}

#FilterParameters.in,
#FilterParameters.collapsing {
    display: block!important;
}