<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Create New User</h4>
	</div>
	<div class="panel-body">		
		<form name="form" ng-submit="createNewUser()" role="form">
			<div class="form-group" ng-class="{ 'has-error': form.userName.$dirty && form.userName.$error.required }">
				<label for="userName">Username</label>
				<input type="text" name="userName" id="userName" class="form-control" ng-model="newUser.userName" required /> 
				<span ng-show="form.userName.$dirty && form.userName.$error.required" class="help-block">Username is required</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
				<label for="password">Password</label> 
				<input type="password" name="password" id="password" class="form-control" ng-model="newUser.password" ng-minlength="8" required />
				<span ng-show="form.password.$error.minlength" class="help-block">Minimum of 8 characters</span>
				<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.rePassword.$dirty && form.rePassword.$error.required }">
				<label for="rePassword">Repeat Password</label> 
				<input type="password" name="rePassword" id="rePassword" class="form-control" ng-model="newUser.rePassword" ng-minlength="8" required /> 
				<span ng-show="form.password.$error.minlength" class="help-block">Minimum of 8 characters</span>
				<span ng-show="form.rePassword.$dirty && form.rePassword.$error.required" class="help-block">Password is required</span>
				<span ng-show="form.rePassword.$dirty && newUser.password != newUser.rePassword" class="help-block">Password must match</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
				<label for="firstName">First name</label>
				<input type="text" name="firstName" id="firstName" class="form-control" ng-model="newUser.firstName" required />
				<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
				<label for="lastName">Last name</label> 
				<input type="text" name="lastName" id="Text1" class="form-control" ng-model="newUser.lastName" required /> 
				<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
				<label for="email">E-mail</label>
				<input type="email" name="email" id="Text1" class="form-control" ng-model="newUser.email" required />
					<span ng-show="form.email.$dirty && form.email.$error.require" class="help-block">E-mail address is required</span>
					<span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Valid E-mail address is required</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.gender.$dirty && form.gender.$error.required }">
				<label for="gender">Gender</label>
				<select name="gender" id="Text1" class="form-control" ng-model="newUser.gender" required>
					<option>M</option>
					<option>F</option>
				</select> <span ng-show="form.gender.$dirty && form.gender.$error.required" class="help-block">Gender is required</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.role.$dirty && form.role.$error.required }">
	            <label for="role">Role</label>
	            <select name="role" id="role" class="form-control" ng-model="newUser.role" required ng-options="role.role_name as role.role_name for role in vm.roles"></select>
	            <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">Role is required</span>
	        </div>
	        <div class="form-group" ng-class="{ 'has-error': form.status.$dirty && form.status.$error.required }">
	            <label for="status">Status</label>
	            <select name="status" id="status" class="form-control" ng-model="newUser.status" required ng-options="status.user_status_type as status.user_status_type for status in vm.userStatus"></select>
	            <span ng-show="form.status.$dirty && form.status.$error.required" class="help-block">Status is required</span>
	        </div>
			<div class="form-actions">
				<button type="submit" ng-disabled="form.$invalid || newUser.password != newUser.rePassword" class="btn btn-primary">Create</button>
				<a ng-click="cancel()" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</div>
</div>