<br />
<div class="row">
	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4>Found {{users.length}} records</h4>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<h4>Page: {{ currentPage }}</h4>
	            </div>
	            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
	            	<div class="pull-right">
						<select class="form-control" ng-model="pageSize">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="70">70</option>
							<option value="100">100</option>
						</select>
		            </div>
				</div>
            </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h4>User List</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="pull-right">
					<a ng-click="refreshUsers()" class="btn btn-small btn-default">
						<span class="glyphicon glyphicon-refresh"></span>
					</a>
					<a ng-click="createNewUser()" class="btn btn-small btn-default">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
	            </div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="input-group input-group-md">
			<input type="text" class="form-control" placeholder="Filter users" aria-describedby="sizing-addon3" ng-model="query.$">
			<span class="input-group-addon" id="sizing-addon3">
				<span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>
						<a ng-click="orderProp='username'; reverseSort = !reverseSort">Username 
							<span ng-show="orderProp == 'username'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='name'; reverseSort = !reverseSort">Name 
							<span ng-show="orderProp == 'name'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='lastname'; reverseSort = !reverseSort">Last Name 
							<span ng-show="orderProp == 'lastname'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
	          		</th>
					<th>
						<a ng-click="orderProp='email'; reverseSort = !reverseSort">email 
							<span ng-show="orderProp == 'email'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='role'; reverseSort = !reverseSort">Role 
							<span ng-show="orderProp == 'role'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='status'; reverseSort = !reverseSort">Status 
							<span ng-show="orderProp == 'status'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='expirationDate'; reverseSort = !reverseSort">Exp Date 
							<span ng-show="orderProp == 'expirationDate'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='visitsCounter'; reverseSort = !reverseSort">Visits 
							<span ng-show="orderProp == 'visitsCounter'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="user in users | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize">
					<th scope="row">{{$index + 1}}</th>
					<td><a ng-click="viewUserProfile(user.username)">{{user.username}}</a></td>
					<td>{{user.name}}</td>
					<td>{{user.lastname}}</td>
					<td>{{user.email}}</td>
					<td>{{user.role}} <span ng-show="user.certified"> - (Certified)</span></td>
					<td>{{user.status}}</td>
					<td ng-if="user.expirationDate">{{user.expirationDate | date}}</td>
					<td ng-if="!user.expirationDate">N/A</td>
					<td>{{user.visitsCounter}}</td>
					<td>
						<a ng-click="editUser(user.username)" class="btn btn-small btn-default">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
					<td ng-if="false">
	            			<a ng-click="removeCertifyUser(user.username)" class="btn btn-small btn-danger" ng-show="user.certified && user.status != 'DISABLED' && user.role == 'CERTIFIED'">
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
						<a ng-click="certifyUser(user.username)" class="btn btn-small btn-success" ng-show="!user.certified && user.status != 'DISABLED' && user.role == 'CERTIFIED'">
							<span class="glyphicon glyphicon-ok-circle"></span>
						</a>
	            		</td>
		            	<td>
		            		<a ng-click="resetUserPwdLink(user.email)" class="btn btn-small btn-warning" ng-show="!isDeleteAllowed(user.username) && user.status != 'DISABLED'">
		            		<span class="glyphicon glyphicon-lock"></span> </a>
		            	</td>
		            	<td>
		            		<a ng-click="deleteUser(user.username)" class="btn btn-small btn-danger" ng-show="!isDeleteAllowed(user.username) && user.status != 'DISABLED'">
								<span class="glyphicon glyphicon-trash"></span>
						</a>
		            	</td>
	            		<td>
		            		<a ng-click="setUser(user)" data-toggle="modal" data-target="#registerCertUserPayment" class="btn btn-small btn-info" ng-show="user.role != 'CERTIFIED' && user.role != 'ADMIN'">
							<span class="glyphicon glyphicon-piggy-bank"></span>
						</a>
		            	</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Pagination -->
	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>

<!-- Modal to register Cert User Payment -->
<div id="registerCertUserPayment" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Register Certificate Payment</h4>
			</div>
			<div class="modal-body">
				<p>
					The following user is in the process to be registered as a Certified User.
					If you have the Transaction number or Deposit evidence, please capture it below to register the payment.
				</p>
				<form name="form">
					<div class="form-group"">
						<label>User ID</label>
						<input type="text" class="form-control" ng-model="userSelected.username" readonly>
					</div>
					<div class="form-group" ng-class="{'has-error': form.transactionNumber.$dirty && form.transactionNumber.$error.required }">
						<label># Transaction</label>
						<input type="text" name="transactionNumber" class="form-control" ng-model="transactionId" required>
						<span ng-show="form.transactionNumber.$dirty && form.transactionNumber.$error.required" class="help-block">Transaction number is required</span>
					</div>
					<div class="form-group" ng-class="{'has-error': form.paymentMethod.$dirty && form.paymentMethod.$error.required }">
						<label>Payment Method</label>
						<div class="radio">
							<label><input type="radio" name="paymentMethod" ng-model="paymentMethod" value="Deposit" checked="checked" required>Deposit</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="paymentMethod" ng-model="paymentMethod" value="Transfer" required>Transfer</label>
						</div>
						<span ng-show="form.paymentMethod.$dirty && form.paymentMethod.$error.required" class="help-block">Payment Method is required</span>
					</div>
					<br />
					<div class="text-right">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						<button class="btn btn-warning" ng-click="registerUserCertPayment(userSelected)" data-dismiss="modal" ng-disabled="form.$invalid">Register Payment</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>
