﻿<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h3>Your email has been verified. Now, your account has been activated.</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p>
			Please <a href="#/login">click here</a> to login into the Memmorable.
		</p>
	</div>
</div>
