<br />
<div class="container">
	<!-- Reports -->
	<div class="row">
		<div class="col-lg-12">
			<h4>Reports</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<button class="visible-xs" data-toggle="collapse" data-target="#FilterParameters" style="margin-bottom: 20px;">Select <span class="caret"></span></button>
			<div class="hidden-xs FilterParameters" id="FilterParameters">
				<div class="list-group">
					<a ng-click="showSalesCurrent()" class="list-group-item" ng-class="{ 'active': isSalesCurrentActive }">Sales - Current Year</a>
					<a ng-click="showSalesLast()" class="list-group-item" ng-class="{ 'active': isSalesLastActive }">Sales - Last Year</a>
					<a ng-click="showSalesCustom()" class="list-group-item" ng-class="{ 'active': isSalesCustomActive }">Sales - Custom Dates</a>
					<a ng-click="showCurrentFeesPaid()" class="list-group-item" ng-class="{ 'active': isCurrentFeesPaid }">Fees Paid - Current Year</a>
					<a ng-click="showCustomFeesPaid()" class="list-group-item" ng-class="{ 'active': isCustomFeesPaid }">Fees Paid - Custom Dates</a>
					<a ng-click="showFeesPaidPending()" class="list-group-item" ng-class="{ 'active': isFeesPaidPending }">Fees Pending</a>
					<a ng-click="showUsersCreated()" class="list-group-item" ng-class="{ 'active': isUsersCreated }">Users Created - Current Year</a>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			
			<div class="row" ng-if="isSalesCurrentActive">
				<canvas id="line" class="chart chart-line" chart-data="data"
					chart-labels="labels" chart-series="series">
				</canvas>
			</div>
			
			<div class="row" ng-if="isSalesLastActive">
				<canvas id="bar" class="chart chart-bar" chart-data="data2" 
					chart-labels="labels2" chart-series="series2"></canvas>
			</div>
			
			<div ng-if="isSalesCustomActive">
				<div class="row">
					<div class="col-lg-6">
						<div class="dropdown form-group dropdown-start-parent">
						    <label>Start Date</label>
						    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent">
						        <div class="input-group date">
						            <input type="text" class="form-control" data-ng-model="dateRangeStart2" readonly>
						            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						        </div>
						    </a>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						        <datetimepicker data-ng-model="dateRangeStart"
						                        data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
						                        data-on-set-time="startDateOnSetTime(newDate, oldDate)"
						                        data-before-render="startDateBeforeRender($dates)"></datetimepicker>
						    </ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="dropdown form-group dropdown-end-parent">
						    <label>End Date</label>
						    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target=".dropdown-end-parent">
						        <div class="input-group date">
						            <input type="text" class="form-control" data-ng-model="dateRangeEnd2" readonly>
						            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						        </div>
						    </a>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						        <datetimepicker data-ng-model="dateRangeEnd"
						                        data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
						                        data-on-set-time="endDateOnSetTime(newDate, oldDate)"
						                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
						    </ul>
						</div>
					</div>
				</div>
				<div class="row" ng-if="dateRangeStart2 && dateRangeEnd2">
					<div class="col-lg-12">
						<div class="text-right">
							<a ng-click="loadAdmSalesCustomReport()" class="btn btn-primary">Generate Report</a>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-lg-12">
						<div ng-if="customReport">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<h4>Found {{series6.length}} records</h4>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
									<h4>Page: {{ currentPage }}</h4>
					            </div>
					            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					            	<div class="pull-right">
										<select class="form-control" ng-model="pageSize">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="50">50</option>
											<option value="70">70</option>
											<option value="100">100</option>
										</select>
						            </div>
								</div>
				            </div>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>
												<a ng-click="orderProp='year'; reverseSort = !reverseSort">Year 
													<span ng-show="orderProp == 'year'">
														<span ng-show="!reverseSort">^</span>
														<span ng-show="reverseSort">v</span>
													</span>
							          			</a>
											</th>
											<th>
												<a ng-click="orderProp='month'; reverseSort = !reverseSort">Month 
													<span ng-show="orderProp == 'month'">
														<span ng-show="!reverseSort">^</span>
														<span ng-show="reverseSort">v</span>
													</span>
							          			</a>
											</th>
											<th>
												<a ng-click="orderProp='amount'; reverseSort = !reverseSort">Amount 
													<span ng-show="orderProp == 'amount'">
														<span ng-show="!reverseSort">^</span>
														<span ng-show="reverseSort">v</span>
													</span>
							          			</a>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr dir-paginate="data in series6 | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize">
											<th scope="row">{{$index + 1}}</th>
											<td>{{data.year}}</td>
											<td>{{data.month}}</td>
											<td>{{data.amount | currency}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Pagination -->
							<div class="text-center">
								<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" ng-if="isCurrentFeesPaid">
				<canvas id="bar" class="chart chart-bar" chart-data="data4" 
					chart-labels="labels4" chart-series="series4" chart-options="options"></canvas>
			</div>
			
			<div ng-if="isCustomFeesPaid">
				<div class="row">
					<div class="col-lg-6">
						<div class="dropdown form-group dropdown-start-parent">
						    <label>Start Date</label>
						    <a class="dropdown-toggle" id="dropdownStartFees" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent">
						        <div class="input-group date">
						            <input type="text" class="form-control" data-ng-model="dateRangeStart3" readonly>
						            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						        </div>
						    </a>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabelFees">
						        <datetimepicker data-ng-model="dateRangeStartFees"
						                        data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdownStartFees', renderOn: 'end-date-fees-changed' }"
						                        data-on-set-time="startDateOnSetTimeFees(newDate, oldDate)"
						                        data-before-render="startDateBeforeRenderFees($dates)"></datetimepicker>
						    </ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="dropdown form-group dropdown-end-parent">
						    <label>End Date</label>
						    <a class="dropdown-toggle" id="dropdownEndFees" role="button" data-toggle="dropdown" data-target=".dropdown-end-parent">
						        <div class="input-group date">
						            <input type="text" class="form-control" data-ng-model="dateRangeEnd3" readonly>
						            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						        </div>
						    </a>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabelFees">
						        <datetimepicker data-ng-model="dateRangeEndFees"
						                        data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdownEndFees', renderOn: 'start-date-fees-changed' }"
						                        data-on-set-time="endDateOnSetTimeFees(newDate, oldDate)"
						                        data-before-render="endDateBeforeRenderFees($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
						    </ul>
						</div>
					</div>
				</div>
				<div class="row" ng-if="dateRangeStart3 && dateRangeEnd3">
					<div class="col-lg-12">
						<div class="text-right">
							<a ng-click="loadAdmCustomFeesPaid()" class="btn btn-primary">Generate Report</a>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-lg-12">
						<div ng-if="customFeePaidReport">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<h4>Found {{series6.length}} records</h4>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
									<h4>Page: {{ currentPage }}</h4>
					            </div>
					            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					            	<div class="pull-right">
										<select class="form-control" ng-model="pageSize">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="50">50</option>
											<option value="70">70</option>
											<option value="100">100</option>
										</select>
						            </div>
								</div>
				            </div>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>
												<a ng-click="orderProp='year'; reverseSort = !reverseSort">Year 
													<span ng-show="orderProp == 'year'">
														<span ng-show="!reverseSort">^</span>
														<span ng-show="reverseSort">v</span>
													</span>
							          			</a>
											</th>
											<th>
												<a ng-click="orderProp='month'; reverseSort = !reverseSort">Month 
													<span ng-show="orderProp == 'month'">
														<span ng-show="!reverseSort">^</span>
														<span ng-show="reverseSort">v</span>
													</span>
							          			</a>
											</th>
											<th>
												<a ng-click="orderProp='amount'; reverseSort = !reverseSort">Amount 
													<span ng-show="orderProp == 'amount'">
														<span ng-show="!reverseSort">^</span>
														<span ng-show="reverseSort">v</span>
													</span>
							          			</a>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr dir-paginate="data in series7 | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize">
											<th scope="row">{{$index + 1}}</th>
											<td>{{data.year}}</td>
											<td>{{data.month}}</td>
											<td>{{data.amount | currency}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Pagination -->
							<div class="text-center">
								<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" ng-if="isUsersCreated">
				<canvas id="bar" class="chart chart-bar" chart-data="data5" 
					chart-labels="labels5" chart-series="series5" chart-options="options"></canvas>
			</div>
			
			<div class="row" >
				<div ng-if="isFeesPaidPending">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Found {{users.length}} records</h4>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
							<h4>Page: {{ currentPage }}</h4>
			            </div>
			            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			            	<div class="pull-right">
								<select class="form-control" ng-model="pageSize">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
									<option value="70">70</option>
									<option value="100">100</option>
								</select>
				            </div>
						</div>
		            </div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>
										<a ng-click="orderProp='username'; reverseSort = !reverseSort">Username 
											<span ng-show="orderProp == 'username'">
												<span ng-show="!reverseSort">^</span>
												<span ng-show="reverseSort">v</span>
											</span>
					          			</a>
									</th>
									<th>
										<a ng-click="orderProp='artId'; reverseSort = !reverseSort">Art ID 
											<span ng-show="orderProp == 'artId'">
												<span ng-show="!reverseSort">^</span>
												<span ng-show="reverseSort">v</span>
											</span>
					          			</a>
									</th>
									<th>
										<a ng-click="orderProp='amount'; reverseSort = !reverseSort">Amount 
											<span ng-show="orderProp == 'amount'">
												<span ng-show="!reverseSort">^</span>
												<span ng-show="reverseSort">v</span>
											</span>
					          			</a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="user in users | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize">
									<th scope="row">{{$index + 1}}</th>
									<td><a ng-click="viewUserProfile(user.username)">{{user.username}}</a></td>
									<td>{{user.artId}}</td>
									<td>{{user.amount | currency}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Pagination -->
					<div class="text-center">
						<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End reports -->
</div>
