<br />
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
		  <h3>Paypal Payment Plans</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
		<div class="list-group">
			<a ng-click="loadPaypalPlans()" class="list-group-item active">Payment Plans</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
		<div class="page-header" style="margin: 0px;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4>Found {{plans.length}} records</h4>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<h4>Page: {{ currentPage }}</h4>
	            </div>
	            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
	            	<div class="pull-right">
						<select class="form-control" ng-model="pageSize">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="70">70</option>
							<option value="100">100</option>
						</select>
		            </div>
				</div>
            </div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h4>Payment Settings</h4>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="pull-right">
							<a ng-click="refreshPaypalPlans()" class="btn btn-small btn-default">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
							<a ng-click="toggleModal()" class="btn btn-small btn-default">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
			            </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group input-group-md">
					<input type="text" class="form-control" placeholder="Filter Paypal Plans" aria-describedby="sizing-addon3" ng-model="query.$">
					<span class="input-group-addon" id="sizing-addon3">
						<span class="glyphicon glyphicon-search"></span>
					</span>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>
								<a ng-click="orderProp='app_setting_name'; reverseSort = !reverseSort">Plan ID 
									<span ng-show="orderProp == 'app_setting_name'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='app_setting_value'; reverseSort = !reverseSort">Membership 
									<span ng-show="orderProp == 'app_setting_value'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='app_setting_value'; reverseSort = !reverseSort">Status 
									<span ng-show="orderProp == 'app_setting_value'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="paypalPlan in plans | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize">
							<th scope="row">{{$index + 1}}</th>
							<td>
								<a ng-click="viewPaypalPlan(paypalPlan.plan_id, paypalPlan.role.role_name)">{{paypalPlan.plan_id}}</a>
							</td>
							<td>{{paypalPlan.role.role_text_name}}</td>
							<td>{{paypalPlan.planStatus}}</td>
							<td>
			            		<a ng-click="activatePaypalPlan(paypalPlan.plan_id)" class="btn btn-small btn-success" ng-hide="paypalPlan.planStatus == 'ACTIVE'">
									<span class="glyphicon glyphicon-ok-sign"></span>
								</a>
			            	</td>
			            	<td>
			            		<a ng-click="deletePaypalPlan(paypalPlan.plan_id)" class="btn btn-small btn-danger">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
			            	</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		</div>
	</div>
</div>

<modal title="Paypal Billing Plan" visible="showModal">
	<div class="alert alert-danger" role="alert" ng-show="showError">{{error}}</div>
	<form name="form" ng-submit="createNewPaypalPlan()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.plan.$dirty && form.plan.$error.required }">
            <label for="plan">JSON Billing Plan</label>
            <textarea name="plan" id="plan" class="form-control" rows="5" ng-model="vm.plan" placeholder="Your JSON Create Billing Plan" required ng-disabled="!showField"></textarea>
	        <a ng-click="loadCreatePlanTemplate()" class="btn btn-warning pull-right" style="margin: 5px 0px 5px 0px;" ng-show="showField">Load Template</a>
            <span ng-show="form.plan.$dirty && form.plan.$error.required" class="help-block">Plan is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.role.$dirty && form.role.$error.required }">
            <label for="role">Membership</label>
            <select name="role" id="role" class="form-control" ng-model="vm.role" required ng-options="role.role_name as role.role_name for role in vm.roles | filter: {role_name: '!ADMIN'}" ng-disabled="!showField"></select>
            <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">Role is required</span>
        </div>
        <div class="form-actions text-center">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-show="showField">Create</button>
            <a ng-click="cancel()" class="btn btn-default">Cancel</a>
        </div>
    </form>
</modal>
