<div class="container">
	<!-- About Us -->
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>About Memmorable</h2>
                <p>Memmorable is the site that you can use to show your paints, photos, sculptures, compositions, music, 
                choreographies, poems, novels, or any other way of creation that you do, in order to sell them anywhere around the world.</p> 
                <p>Memmorable is your personal gallery, your showroom, your library, and avery you need to show your talent. 
                You can upload image, text, audio and video files and set your price and conditions. Fast, easy, comfortable and safe. 
                It's the place where you can invest or buy any kind of art.</p>
            </div>
		</div>
	</section>
	<!-- End About Us -->
</div>
