<br />

<!-- Surveys Tabs -->
<div class="row" ng-controller="TabController as tab">
	<ul class="nav nav-tabs nav-justified">
		<li ng-class="{active:tab.isSet(1)}" role="presentation" class="active"><a href ng-click="tab.setTab(1)">Pending to Submit</a></li>
		<li ng-class="{active:tab.isSet(2)}" role="presentation"><a href href ng-click="tab.setTab(2)">Pending Surveys</a></li>
	</ul>
	<div class="container tabs-spacer" ng-show="tab.isSet(1)">
		<div class="row">
			<div class="container">
				<div class="page-header">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Found {{surveyList.length}} records</h4>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
							<h4>Page: {{ currentPage }}</h4>
			            </div>
			            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			            	<div class="pull-right">
								<select class="form-control" ng-model="pageSize">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
									<option value="70">70</option>
									<option value="100">100</option>
								</select>
				            </div>
						</div>
		            </div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h4>Surveys - Art Purchased / Sold</h4>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="pull-right">
							<a ng-click="refreshSurveyList()" class="btn btn-small btn-default">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
			            </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group input-group-md">
					<input type="text" class="form-control" placeholder="Filter surveys" aria-describedby="sizing-addon3" ng-model="query.$">
					<span class="input-group-addon" id="sizing-addon3">
						<span class="glyphicon glyphicon-search"></span>
					</span>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>
								<a ng-click="orderProp='artId'; reverseSort = !reverseSort">Art ID 
									<span ng-show="orderProp == 'artId'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='artName'; reverseSort = !reverseSort">Art Name 
									<span ng-show="orderProp == 'artName'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='toUser'; reverseSort = !reverseSort">To 
									<span ng-show="orderProp == 'toUser'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
			          		<th>
								<a ng-click="orderProp='transaction'; reverseSort = !reverseSort">Transaction 
									<span ng-show="orderProp == 'transaction'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
			          		<th>
								<a ng-click="orderProp='status'; reverseSort = !reverseSort">Status 
									<span ng-show="orderProp == 'status'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
							<th>
								<a ng-click="orderProp='createdDate'; reverseSort = !reverseSort">Created 
									<span ng-show="orderProp == 'createdDate'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="survey in surveyList | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize" ng-click="viewSurvey(survey.surveyId)" pagination-id="surveyMsgs">
							<th scope="row">{{survey.surveyId}}</th>
							<td>{{survey.artId}}</td>
							<td>{{survey.artName | limitTo:50}}</td>
							<td>{{survey.toUser}}</td>
							<td>{{survey.transaction}}</td>
							<td>{{survey.status}}</td>
							<td>{{survey.createdDate | date:'medium'}}</td>
							<td>
								<a ng-click="viewSurvey(survey.surveyId)" class="btn btn-small btn-danger">
									<span class="glyphicon glyphicon-list-alt"></span> Rate
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="surveyMsgs" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		</div>
	</div>
	<div class="container tabs-spacer" ng-show="tab.isSet(2)">
		<div class="row">
			<div class="container">
				<div class="page-header">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Found {{surveyCompletedList.length}} records</h4>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
							<h4>Page: {{ currentPage }}</h4>
			            </div>
			            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			            	<div class="pull-right">
								<select class="form-control" ng-model="pageSize">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
									<option value="70">70</option>
									<option value="100">100</option>
								</select>
				            </div>
						</div>
		            </div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h4>Surveys</h4>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="pull-right">
							<a ng-click="refreshSurveyList()" class="btn btn-small btn-default">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
			            </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="input-group input-group-md">
					<input type="text" class="form-control" placeholder="Filter surveys" aria-describedby="sizing-addon3" ng-model="query.$">
					<span class="input-group-addon" id="sizing-addon3">
						<span class="glyphicon glyphicon-search"></span>
					</span>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>
								<a ng-click="orderProp='artId'; reverseSort = !reverseSort">Art ID 
									<span ng-show="orderProp == 'artId'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='artName'; reverseSort = !reverseSort">Art Name 
									<span ng-show="orderProp == 'artName'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
							<th>
								<a ng-click="orderProp='fromUser'; reverseSort = !reverseSort">From 
									<span ng-show="orderProp == 'fromUser'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
			          		<th>
								<a ng-click="orderProp='rating'; reverseSort = !reverseSort">Rating 
									<span ng-show="orderProp == 'rating'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
			          		<th>
								<a ng-click="orderProp='status'; reverseSort = !reverseSort">Status 
									<span ng-show="orderProp == 'status'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
			          		<th>
								<a ng-click="orderProp='status'; reverseSort = !reverseSort">Comments 
									<span ng-show="orderProp == 'status'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
			          		</th>
							<th>
								<a ng-click="orderProp='lastUpdatedDate'; reverseSort = !reverseSort">Date 
									<span ng-show="orderProp == 'lastUpdatedDate'">
										<span ng-show="!reverseSort">^</span>
										<span ng-show="reverseSort">v</span>
									</span>
			          			</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="isUserOwner(survey.artId)" dir-paginate="survey in surveyCompletedList | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize" ng-click="viewSurvey(survey.surveyId)" pagination-id="surveyMsgs">
							<th scope="row">{{survey.surveyId}}</th>
							<td>{{survey.artId}}</td>
							<td>{{survey.artName | limitTo:50}}</td>
							<td>{{survey.fromUser}}</td>
							<td>{{survey.rating}}</td>
							<td>{{survey.status}}</td>
							<td>{{survey.comments}}</td>
							<td>{{survey.lastUpdatedDate | date:'medium'}}</td>
						</tr>
						<tr ng-if="!isUserOwner(survey.artId)" dir-paginate="survey in surveyCompletedList | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize" pagination-id="surveyMsgs">
							<th scope="row">{{survey.surveyId}}</th>
							<td>{{survey.artId}}</td>
							<td>{{survey.artName | limitTo:50}}</td>
							<td>{{survey.fromUser}}</td>
							<td>{{survey.rating}}</td>
							<td>{{survey.status}}</td>
							<td>{{survey.comments}}</td>
							<td>{{survey.lastUpdatedDate | date:'medium'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Pagination -->
			<div class="text-center">
				<dir-pagination-controls pagination-id="surveyMsgs" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
			</div>
		</div>
	</div>
</div>