<br/>
<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Thanks for taking the Survey</h1>
			<p>Please help us to fill the below survey so that we are aware of any situation and experience happened during your Art Transaction</p>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Transaction Detail</h3>
			</div>
			<div class="panel-body">
		    	<h5>Art ID: <u><a ng-click="viewArt(survey.artId)">{{survey.artId}}</a></u></h5>
    			<h5>Art Name: {{survey.artName}}</h5>
    			<h5>To: <u><a ng-click="viewUserProfile(survey.toUser)">{{survey.toUser}}</a></u></h5>
    			<h5>Status: {{survey.status}}</h5>
    			<h5>{{survey.createdDate | date:'medium'}}</h5>
    			<form name="form" ng-submit="submitSurvey()" role="form">
					<div class="row">
	    				<div class="col-md-12">
	    					<div class="form-group">
								<div class="text-center">
									<label for="comment" ng-if="survey.transaction === 'SELL'">Art Delivered: </label>
									<label for="comment" ng-if="survey.transaction === 'PURCHASE'">Art Received: </label>
									<label class="radio-inline">
										<input type="radio" name="artReceived" id="artReceived" ng-model="vm.status" value="true" required> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="artReceived" id="artReceived" ng-model="vm.status" value="false" required> No
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
	    				<div class="col-md-12">
	    					<div class="form-group">
								<div class="text-center">
									<label for="comment">Your Rate:</label>
									<input-stars name="surveyRating" id="surveyRating"
										ng-model="vm.surveyRating" max="5" required></input-stars>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="comment">Comments:</label>
								<textarea class="form-control" rows="5" name="comment"
									id="comment" ng-model="vm.comments" ng-maxlength="200"
									ng-pattern="txtPattern" required></textarea>
		 						<span ng-if="vm.comments" class="help-block">{{200 - vm.comments.length}} out of 200 characters</span>
								<span ng-show="form.comment.$dirty && form.comment.$error.required" class="help-block">Comments are required</span>
								<span ng-show="form.comment.$error.pattern" style="color: #a94442">Enter only string.</span>
								<span ng-show="form.comment.$error.maxlength" class="help-block">Max of 200 characters</span>
								<span class="help-block"><gentle ng-model="vm.comments"></gentle></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="text-center">
								<a ng-click="cancel()" class="btn btn-default">Cancel</a>
								<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || isNotgentle">Submit Survey</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>