<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Create New Art Type Fee</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="createArtTypeFee()" role="form">
     	<div class="form-group" ng-class="{ 'has-error': form.artTypeName.$dirty && form.artTypeName.$error.required }">
			<label for="artTypeName">Art Type Name</label>
			<select name="artTypeName" id="artTypeName" class="form-control" ng-model="artTypeFee.art_type" required 
			ng-options="type as type.art_type_name for type in artTypes track by type.art_type_id"></select>
			<span ng-show="form.artTypeName.$dirty && form.artTypeName.$error.required" class="help-block">Art Type is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.role.$dirty && form.role.$error.required }">
            <label for="role">Role</label>
            <select name="role" id="role" class="form-control" ng-model="artTypeFee.role.role_name" required ng-options="role.role_name as role.role_name for role in vm.roles"></select>
            <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">Role is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.fee_amount.$dirty && form.fee_amount.$error.required }">
            <label for="fee_amount">Fee Percentage Amount</label>
            <input type="number" name="fee_amount" id="fee_amount" class="form-control" ng-model="artTypeFee.fee_amount" min="0" max="100" required/>
            <span ng-show="form.fee_amount.$dirty && !form.fee_amount.$valid" class="help-block">Fee Amount Percentage shold range between 0 and 100</span>
            <span ng-show="form.fee_amount.$dirty && form.fee_amount.$error.required" class="help-block">Fee Amount is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Create</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>