<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Create New Art Type</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="createArtType()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.artTypeName.$dirty && form.artTypeName.$error.required }">
            <label for="artTypeName">Art Type Name</label>
            <input type="text" name="artTypeName" id="artTypeName" class="form-control" ng-model="artType.art_type_name" required/>
            <span ng-show="form.artTypeName.$dirty && form.artTypeName.$error.required" class="help-block">Art Type Name is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>