<br />
<div class="row">
	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4>Found {{artTypes.length}} records</h4>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<h4>Page: {{ currentPage }}</h4>
	            </div>
	            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
	            	<div class="pull-right">
						<select class="form-control" ng-model="pageSize">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="70">70</option>
							<option value="100">100</option>
						</select>
		            </div>
				</div>
            </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
	    <div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h4>Art Types Catalog</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="pull-right">
					<a ng-click="refreshArtTypes()" class="btn btn-small btn-default">
						<span class="glyphicon glyphicon-refresh"></span>
					</a>
					<a ng-click="createNewArtType()" class="btn btn-small btn-default">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
	            </div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="input-group input-group-md">
			<input type="text" class="form-control" placeholder="Filter Art Types" aria-describedby="sizing-addon3" ng-model="query.$">
			<span class="input-group-addon" id="sizing-addon3">
				<span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>
						<a ng-click="orderProp='art_type_name'; reverseSort = !reverseSort">Art Type Name 
							<span ng-show="orderProp == 'art_type_name'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="artType in artTypes | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize">
					<th scope="row">{{$index + 1}}</th>
					<td>{{artType.art_type_name}}</td>
					<td>
						<a ng-click="editArtType(artType.art_type_id)" class="btn btn-small btn-default">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Pagination -->
	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>

