<br />

<div class="row text-center">
	<div class="col-lg-12">
		<div class="progress">
			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
				aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%
			</div>
		</div>
	</div>
</div>

<!-- Art Details -->
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-12">
					<div class="thumbnail">
						<div class="row">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-12">
										<div class="viewer">
											<div class="viewerMedia"
												ng-if="vm.viewerMedia.artMediaFilename.type.match('image').index >= 0">
												<img class="img-responsive"
													ngf-thumbnail="vm.viewerMedia.artMediaFilename"
													style="object-fit: contain; max-height: 300px;"></img>
											</div>
											<div  ng-if="vm.viewerMedia.artMediaFilename.type.toUpperCase() === 'VIDEO/MP4'">
												<video class="img-responsive" controls
													ngf-thumbnail="vm.viewerMedia.artMediaFilename"
													style="margin: 0 auto; object-fit: contain; max-height: 300px;"></video>
											</div>
											<div class="viewerMedia" class="col-lg-12" ng-if="vm.viewerMedia.artMediaFilename.type.toUpperCase() === 'APPLICATION/PDF'">
												<img class="img-responsive"  style="object-fit: contain; max-height: 300px;" src="./images/pdf2.png"></img>
											</div>
											<div class="col-lg-12" ng-if="vm.viewerMedia.artMediaFilename.type.toUpperCase() === 'AUDIO/MPEG'">
												<img class="img-responsive"  style="object-fit: contain; max-height: 300px;" src="./images/audio3.png"></img>
												<audio class="audioControl" controls ngf-thumbnail="vm.viewerMedia.artMediaFilename"></audio>
											</div>
										</div>
									</div>
								</div>
								<div class="row" style="padding-top: 10px;">
									<div class="col-lg-12">
										<div class="row">
											<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2"
												ng-repeat="media in vm.data.medialist track by $index">
													<div class="selectorPicture thumbnail"
														ng-click="setMedia2Viewer(media,'image');">
														<img class="img-responsive"
															ngf-thumbnail="media"
															style="object-fit: contain; max-height: 100px;"></img>
													</div>
									
											</div>
											<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2"
												ng-repeat="media in vm.data.videolist track by $index">
													<div class="selectorPicture thumbnail"
														ng-click="setMedia2Viewer(media,'video');">
														<video class="img-responsive"
															ngf-thumbnail="media.artMediaFilename"></video>
														<img class="img-responsive playImage"
															src="./images/play.png"></img>
													</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2"
												ng-repeat="media in vm.data.audiolist track by $index">
													<div class="selectorPicture thumbnail"
														ng-click="setMedia2Viewer(media,'audio');">
														<img class="img-responsive audioImage"
															src="./images/audio3.png"></img>
													</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2"
												ng-repeat="media in vm.data.pdflist track by $index">
													<div class="selectorPicture thumbnail"
														ng-click="setMedia2Viewer(media,'pdf');">
														<img class="img-responsive audioImage"
															src="./images/pdf2.png"></img>
													</div>
											</div>
										</div>
									</div>
								</div>
								<div ng-if="vm.pdflistDownload.length > 0" class="row" style="padding-top: 10px;">
									<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" ng-repeat="media in vm.data.pdflistDownload track by $index">
											<h5>Dowload version: <a href="media">Review</a></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="caption-full">
									<h4 class="pull-right">{{vm.data.art.art_price | currency}}
										{{vm.data.art.currency.currency_type}}</h4>
									<h4>{{vm.data.art.art_name}}</h4>
									<p>{{vm.data.art.art_description}}</p>
									<p class="text-right">
										by <a>{{vm.user}}</a>
									</p>
									<p class="text-right">created: {{currentDate | date}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center" >
				<div class="col-md-12">
					<div style="margin: 10px;">
						<a ng-click="return();" class="btn btn-warning">Back</a>
						<a href="#/profile/{{user}}" class="btn btn-primary">Cancel</a>
						<a ng-click="saveArt();" class="btn btn-primary">Submit</a> 
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- Edn Art Details -->


