<br />
<div ng-if="vm.allowedToPublish">
	<form name="form">
		<div class="row">
			<div class="col-lg-7 col-sm-12 col-md-7 " >
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Art Data</h3>
					</div>
					<div class="panel-body">
						<div class="form-group" 
							ng-class="{ 'has-error': form.art_type.$dirty && form.art_type.$error.required }">
							<label for="art_type">Art Type:</label>
							<select 
								name="art_type" id="Text1" class="form-control"
								ng-model="vm.art.art_type" required
								ng-options="type as type.art_type_name for type in vm.types | orderBy:'art_type_name' track by type.art_type_id"
								ng-change="fillSub(vm.art.art_type)">
							</select>
							<span ng-show="form.art_type.$dirty && form.art_type.$error.required" class="help-block">Art Type is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.art_subType.$dirty && form.art_subType.$error.required }"
							ng-show="form.art_type.$dirty || vm.art.art_subType">
							<label for="art_subType">Art SubType:</label>
							<select
								name="art_subType" id="Text1" class="form-control"
								ng-model="vm.art.art_subType" required
								ng-options="subtype as subtype.art_subtype_name for subtype in vm.subtypes | orderBy:'art_subtype_name' track by subtype.art_subtype_id">
							</select>
							<span ng-show="form.art_subType.$dirty && form.art_subType.$error.required" class="help-block">Art SubType is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.art_service.$dirty && form.art_service.$error.required }"
							ng-show="form.art_type.$dirty || vm.art.art_service">
							<label for="art_service">Art Service:</label>
							<select
								name="art_service" id="Text1" class="form-control"
								ng-model="vm.art.art_service" required
								ng-options="service as service.art_service_name for service in vm.services | orderBy:'art_service_name' track by service.art_service_id">
							</select>
							<span ng-show="form.art_service.$dirty && form.art_service.$error.required" class="help-block">Art service is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.art_genre.$dirty && form.art_genre.$error.required  }"
							ng-show="(form.art_type.$dirty && vm.genres!='') || vm.art.art_genre">
							<label for="art_genre">Art Genre:</label>
							<select name="art_genre"
								id="Text1" class="form-control" ng-model="vm.art.art_genre"
								ng-required="false"
								ng-options="genre as genre.art_genre_name for genre in vm.genres | orderBy:'art_genre_name' track by genre.art_genre_id">
							</select>
							<span ng-show="form.art_genre.$dirty && form.art_genre.$error.required" class="help-block">Art Genre is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.art_format.$dirty && form.art_format.$error.required  }"
							ng-show="(form.art_type.$dirty && vm.formats!='') || vm.art.art_format">
							<label for="art_format">Art Formats:</label>
							<select
								name="art_format" id="Text1" class="form-control"
								ng-model="vm.art.art_format" ng-required="false"
								ng-options="format as format.art_format_name for format in vm.formats | orderBy:'art_format_name' track by format.art_format_id">
							</select>
							<span ng-show="form.art_format.$dirty && form.art_format.$error.required" class="help-block">Art Formats is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.art_name.$dirty && form.art_name.$error.required }">
							<label for="art_name">Art Name :</label>
							<input name="art_name"
								id="art_name" class="form-control" ng-model="vm.art.art_name"
								required>
							</input>
							<span ng-show="form.art_name.$dirty && form.art_name.$error.required" class="help-block">Art Name is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.art_price.$dirty && form.art_price.$error.required }">
							<label for="art_price">Art Price :</label>
							<input name="art_price"
								id="art_price" class="form-control" ng-model="vm.art.art_price" type="number" step="0.01" required>
							</input>
							<span ng-show="form.art_price.$dirty && form.art_price.$error.required" class="help-block">Art Price is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.currency.$dirty && form.currency.$error.required }">
							<label for="currency">Currency :</label>
							<select name="currency"
								id="Text1" class="form-control" ng-model="vm.art.currency"
								required
								ng-options="currency as currency.currency_type for currency in vm.currency track by currency.currency_id">
							</select>
							<span ng-show="form.currency.$dirty && form.currency.$error.required" class="help-block">Currency is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.art_description.$dirty && form.art_description.$error.required }">
							<label for="art_description">Art Description :</label>
							<textarea class="form-control" rows="5" name="art_description"
								id="art_description" ng-model="vm.art.art_description"
								ng-maxlength="500" required>
							</textarea>
							<span ng-show="form.art_description.$dirty && form.art_description.$error.required" class="help-block">Art Description is required</span>
							<span style="color: #737373;" class="help-block">{{500 - vm.art.art_description.length}} out of 500 characters</span>
							<span ng-show="form.art_description.$error.maxlength" class="help-block">Max of 500 characters</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Art Media</h3>
					</div>
					<div class="panel-body">
						<div class="text-center">
							<div class="btn-group col-lg-12 col-md-12 col-sm-12  col-xs-12" role="group">
								<button class="btn btn-default btn-sm col-lg-3 col-md-3  col-sm-12 col-xs-12" ng-click="picFile=null;"
									data-toggle="modal" data-target="#upLoadImage" ng-disabled="vm.medialist.length >= vm.imageRule">Add Image</button>
								<button class="btn btn-default btn-sm col-lg-3 col-md-3 col-sm-12 col-xs-12 " ng-click="vidFile=null;"
									data-toggle="modal" data-target="#upLoadVideo" ng-disabled="vm.videolist.length >= vm.videoRule">Add Video</button>
								<button class="btn btn-default btn-sm col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-click="mp3File=null;"
									data-toggle="modal" data-target="#upLoadMp3"  ng-disabled="vm.audiolist.length >= vm.audioRule">Add Audio</button>
								<button class="btn btn-default btn-sm col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-click="pdfFile=null;"
									data-toggle="modal" data-target="#upLoadPdf" ng-disabled="vm.pdflist.length >= vm.pdfRule">Add PDF</button>
							</div>
						</div>
						<div class="row">
							<div ng-repeat="media in vm.medialist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
								<div class="thumbnail" ng-click="setPrimary(media); setImagePry(media);" 
									ng-class="{primaryPicture : vm.primaryFile === media}">
									<img class="thumbnail-search img-responsive" ngf-thumbnail="media"></img>
									<span class="glyphicon glyphicon-remove removeButton" ng-click="removePicture(media);" aria-hidden="true"></span>
								</div>
								<p class="text-center">
									<a ng-click="removePicture(media);" class="btn btn-sm btn-danger">
										<span class="glyphicon glyphicon-remove"></span> Remove</a>
								</p>
							</div>
						</div>
						<div class="row">
							<div ng-repeat="audio in vm.audiolist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
								<div class="thumbnail" ng-click="setPrimary(audio); setImagePry(audio);" 
									ng-class="{primaryPicture : vm.primaryFile === audio}">
									<img class="thumbnail-search img-responsive" src="./images/audio3.png"></img>
									<audio class="img-responsive" controls ngf-thumbnail="audio"></audio>
									<span class="glyphicon glyphicon-remove removeButton" ng-click="removeAudio(audio);" aria-hidden="true"></span>
								</div>
								<p class="text-center">
									<a ng-click="removeAudio(audio);" class="btn btn-sm btn-danger">
										<span class="glyphicon glyphicon-remove"></span> Remove</a>
								</p>
							</div>
						</div>
						<div class="row">
							<div ng-repeat="pdf in vm.pdflist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
								<div class="thumbnail" ng-click="vm.pdfGetter(pdf); setPrimary(pdf); setImagePry(pdf);" 
									ng-class="{primaryPicture : vm.primaryFile === pdf}">
									<img class="thumbnail-search img-responsive" src="./images/pdf2.png"></img>
									<span class="glyphicon glyphicon-remove removeButton" ng-click="removePdf(pdf);" aria-hidden="true"></span>
								</div>
								<p class="text-center">
									<a ng-click="removePdf(pdf);" class="btn btn-sm btn-danger">
										<span class="glyphicon glyphicon-remove"></span> Remove</a>
								</p>
							</div>
						</div>
						<div class="row">
							<div ng-repeat="media in vm.videolist track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
								<div class="thumbnail" ng-click="setPrimary(media); setImagePry(media);" 
									ng-class="{primaryPicture : vm.primaryFile === media}">
									<video class="thumbnail-search img-responsive" controls ngf-thumbnail="media"></video>
									<span class="glyphicon glyphicon-remove removeButton" ng-click="removeVideo(media);" aria-hidden="true"></span>
								</div>
								<p class="text-center">
									<a ng-click="removeVideo(media);" class="btn btn-sm btn-danger">
										<span class="glyphicon glyphicon-remove"></span> Remove</a>
								</p>
							</div>
						</div>
						<div class="row" ng-if="vm.art.art_type.art_type_name == 'Literature'">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-12">
										<br />
										<hr>
										<h4>Text to Download:</h4>
										<button class="btn btn-default btn-sm col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-click="pdfFileDownload=null;"
												data-toggle="modal" data-target="#upLoadPdfDownload">Add PDF</button>
									</div>
								</div>
								<br />
								<div class="row">
									<div class="col-lg-12">
										<div ng-repeat="pdfDownload in vm.pdflistDownload track by $index" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 10px">
											<div class="thumbnail" ng-click="vm.pdfGetter(pdfDownload);">
												<img class="thumbnail-search img-responsive" src="./images/pdf2.png"></img>
												<span class="glyphicon glyphicon-remove removeButton" ng-click="removePdfDownload(pdfDownload);" aria-hidden="true"></span>
											</div>
											<p class="text-center">
												<a ng-click="removePdfDownload(pdfDownload);" class="btn btn-sm btn-danger">
													<span class="glyphicon glyphicon-remove"></span> Remove</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-actions text-center">
					<img ng-if="vm.dataLoading"
						src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					<a href="#/profile/{{user}}" class="btn btn-primary">Cancel</a>
					<button ng-disabled="form.$invalid || vm.dataLoading || !validateFormToPreview()" class="btn btn-warning" ng-click="showPreview();">Next</button>
				</div>
			</div>
		</div>
	</form>
</div>
<div ng-if="!vm.allowedToPublish">
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Upload New Art</h2>
                <p>Your membership has reached out the number of publications with your Free membership. Please have it <a href="#/pricing">updgrated</a> so that you can continue with more benefits.</p>
            </div>
		</div>
	</section>
</div>

<!-- Modals for File Upload -->
<div id="upLoadImage" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload Image</h4>
			</div>
			<div class="modal-body">
				<form name="myImageForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" 
								ng-model="picFile" name="file" accept="image/*" required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addPicture(picFile);" ng-disabled="picFile==null || picFile==''" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>
<div id="upLoadVideo" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload Video</h4>
			</div>
			<div class="modal-body">
				<form name="myVideoForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" ng-model="vidFile" name="file" accept="video/MP4" 
									ngf-validate="{size: {min: 10, max: '10MB'}, duration: {max: '5m'}}" required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<div ng-show="myVideoForm.file.$error.maxSize" class="help-block">
							<br /><i>File too large; Max allowed is 10M</i><br />
						</div>
						<div ng-show="myVideoForm.file.$error.maxDuration" class="help-block">
							<br /><i>File duration too large; Max duration is 5 min</i><br />
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addVideo(vidFile);" ng-disabled="vidFile==null || vidFile==''" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>
<div id="upLoadMp3" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload Audio</h4>
			</div>
			<div class="modal-body">
				<form name="myAudioForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" ng-model="audiofile" name="file" accept="audio/mpeg" 
									ngf-validate="{size: {min: 10, max: '10MB'}, duration: {max: '10m'}}" required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<div ng-show="myAudioForm.file.$error.maxSize" class="help-block">
							<br /><i>File too large; Max allowed is 10M</i><br />
						</div>
						<div ng-show="myAudioForm.file.$error.maxDuration" class="help-block">
							<br /><i>File duration too large; Max duration is 10 min</i><br />
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addAudio(audiofile);" ng-disabled="audiofile==null || audiofile==''" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>

<div id="upLoadPdf" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload PDF Document</h4>
			</div>
			<div class="modal-body">
				<form name="myPDFForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" ng-model="pdfFile" name="file" accept="application/pdf" 
								required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addPdf(pdfFile);" ng-disabled="pdfFile==null || pdfFile==''" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>

<div id="upLoadPdfDownload" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload Downloadable PDF Document</h4>
			</div>
			<div class="modal-body">
				<form name="myPDFDownloadForm">
					<fieldset>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="file" ngf-select="setFile($file)" ng-model="pdfFileDownload" name="file" accept="application/pdf" 
								required>Browse</button>
							</span>
							<input type="text" class="form-control" ng-model="f.name" readonly>
						</div>
						<br />
						<div class="text-right">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button class="btn btn-warning" ng-click="addPdfDownload(pdfFileDownload);" ng-disabled="pdfFileDownload==null || pdfFileDownload==''" data-dismiss="modal">Add</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>

<!-- TODO -->
<div id="previewModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="row">
					<div class="col-lg-12">
						<ol class="breadcrumb">
							<li><a href="#/">Home</a></li>
							<li><a href="#/search/{{art.artType}}">{{art.artType}}</a></li>
							<li><a href="#/search/{{art.artSubtype}}"
								style="font-weight: bold;">{{art.artSubtype}}</a></li>
						</ol>
					</div>
				</div>
			</div>
			<div class="modal-body">

				<!-- Art Details -->
				<div class="container">
					<div class="row tabs-spacer">
						<div class="col-lg-10 col-lg-offset-1">
							<div class="thumbnail">
								<div class="row carousel-holder">

									<div class="carousel-inner">
										<div class="item active">
											<img class="slide-image" src="http://placehold.it/800x300"
												alt="">
										</div>
										<div class="item">
											<img class="slide-image" src="http://placehold.it/800x300"
												alt="">
										</div>
										<div class="item">
											<img class="slide-image" src="http://placehold.it/800x300"
												alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="caption-full">
							<h4 class="pull-right">{{art.price | currency}}
								{{art.currencyType}}</h4>
							<h4>{{art.artName}}</h4>
							<p>{{art.artDescription}}</p>
							<p class="text-right">
								by <a href="#/profile/{{art.createdBy}}">{{art.createdBy}}</a>
							</p>
							<p class="text-right">created: {{art.createdDate | date}}</p>
						</div>
						<div class="ratings">
							<p class="pull-right">{{comments.length}} reviews</p>
							<input-stars ng-model="art.rating" max="5" readonly></input-stars>
						</div>
						<div class="row"
							ng-hide="isUserOwner(art.createdBy) || isNotLoggedIn()">
							<div class="col-md-12">
								<div class="text-right">
									<p>
										<a href="" class="btn btn-xs btn-default" data-toggle="modal"
											data-target="#privateInboxModal"> <span
											class="glyphicon glyphicon-envelope"></span> Send Private
											Message
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row text-center" ng-show="isUserOwner(art.createdBy)">
						<div class="col-md-12">
							<div style="margin: 10px;">
								<a ng-click="" class="btn btn-default">Cancel</a>
								<a ng-click="" class="btn btn-primary">Edit</a>
							</div>
						</div>
					</div>
					<div class="well">
						<div
							dir-paginate="comment in comments | orderBy:-createdDate | itemsPerPage:pageSize">
							<div class="row">
								<div class="col-md-12">
									by <a href="#/profile/{{comment.createdBy}}">{{comment.createdBy}}</a>:
									<span class="pull-right">{{comment.createdDate |
										date:'medium'}}</span> <br /> <br />
									<p>{{comment.comment}}</p>
									<a ng-click="deleteArtComment(comment.artCommentId)"
										class="btn btn-small btn-danger pull-right"
										ng-show="hasAdminPrivileges()">delete</a>
								</div>
							</div>
							<hr>
						</div>
						<!-- Pagination -->
						<div class="text-center">
							<dir-pagination-controls boundary-links="true"
								on-page-change="pageChangeHandler(newPageNumber)"
								template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>