<br />
<div class="row">
	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4>Found {{rolesList.length -1}} records</h4>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<h4>Page: {{ currentPage }}</h4>
	            </div>
	            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
	            	<div class="pull-right">
						<select class="form-control" ng-model="pageSize">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="70">70</option>
							<option value="100">100</option>
						</select>
		            </div>
				</div>
            </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h4>Roles Catalog</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="pull-right">
					<a ng-click="refreshRoles()" class="btn btn-small btn-default">
						<span class="glyphicon glyphicon-refresh"></span>
					</a>
	            </div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="input-group input-group-md">
			<input type="text" class="form-control" placeholder="Filter users" aria-describedby="sizing-addon3" ng-model="query.$">
			<span class="input-group-addon" id="sizing-addon3">
				<span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>
						<a ng-click="orderProp='role_name'; reverseSort = !reverseSort">Role Name 
							<span ng-show="orderProp == 'role_name'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='role_text_name'; reverseSort = !reverseSort">Role Text Name
							<span ng-show="orderProp == 'role_text_name'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='price'; reverseSort = !reverseSort">Price 
							<span ng-show="orderProp == 'price'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='cycle_time'; reverseSort = !reverseSort">Cycle 
							<span ng-show="orderProp == 'cycle_time'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='feeOwnAgreement'; reverseSort = !reverseSort">Fee Own Arrange 
							<span ng-show="orderProp == 'feeOwnAgreement'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='feeShipping'; reverseSort = !reverseSort">Fee Shipping 
							<span ng-show="orderProp == 'feeShipping'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='publicationsAllowed'; reverseSort = !reverseSort">Publications Allowed 
							<span ng-show="orderProp == 'publicationsAllowed'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='expirationDays'; reverseSort = !reverseSort">Expiration Days 
							<span ng-show="orderProp == 'expirationDays'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th>
						<a ng-click="orderProp='paypalPayEligible'; reverseSort = !reverseSort">Paypal Eligible 
							<span ng-show="orderProp == 'paypalPayEligible'">
								<span ng-show="!reverseSort">^</span>
								<span ng-show="reverseSort">v</span>
							</span>
	          			</a>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="role in rolesList | filter:query | orderBy:orderProp:reverseSort | itemsPerPage:pageSize" ng-hide="role.role_name === 'ADMIN'">
					<th scope="row">{{$index + 1}}</th>
					<td>{{role.role_name}}</td>
					<td>{{role.role_text_name}}</td>
					<td>{{role.price | currency}}</td>
					<td>{{role.cycle_time}}</td>
					<td>{{role.feeOwnAgreement | currency}}</td>
					<td>{{role.feeShipping | currency}}</td>
					<td>{{role.publicationsAllowed}}</td>
					<td>{{role.expirationDays}}</td>
					<td>{{role.paypalPayEligible}}</td>
					<td>
						<a ng-click="editRole(role.role_name)" class="btn btn-small btn-default">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Pagination -->
	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>

