<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Role details for: <i><b>{{role.role_name}}</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="updateRole()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.roleName.$dirty && form.roleName.$error.required }">
            <label for="roleName">Role Name</label>
            <input type="text" name="roleName" id="roleName" class="form-control" ng-model="role.role_name" readonly/>
        </div>
		<div class="form-group" ng-class="{ 'has-error': form.roleToken.$dirty && form.roleToken.$error.required }">
            <label for="roleToken">Role Token</label>
            <input type="text" name="roleToken" id="roleToken" class="form-control" ng-model="role.role_token" readonly/>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.roleTextName.$dirty && form.roleTextName.$error.required }">
            <label for="roleTextName">Role Text</label>
            <input type="text" name="roleTextName" id="roleTextName" class="form-control" ng-model="role.role_text_name"/>
            <span ng-show="form.roleTextName.$dirty && form.roleTextName.$error.required" class="help-block">Role Text is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.price.$dirty && form.price.$error.required }">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" class="form-control" ng-model="role.price" required/>
            <span ng-show="form.price.$dirty && form.price.$error.required" class="help-block">Price is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.roleCycle.$dirty && form.roleCycle.$error.required }">
            <label for="roleCycle">Role Cycle Time</label>
            <input type="text" name="roleCycle" id="roleCycle" class="form-control" ng-model="role.cycle_time"/>
            <span ng-show="form.roleCycle.$dirty && form.roleCycle.$error.required" class="help-block">Cycle Time is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.feeOwnAgreement.$dirty && form.feeOwnAgreement.$error.required }">
            <label for="feeOwnAgreement">Fee Own Arrange</label>
            <input type="text" name="feeOwnAgreement" id="feeOwnAgreement" class="form-control" ng-model="role.feeOwnAgreement" required/>
            <span ng-show="form.feeOwnAgreement.$dirty && form.feeOwnAgreement.$error.required" class="help-block">Fee Own Arrange is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.feeShipping.$dirty && form.feeShipping.$error.required }">
            <label for="feeShipping">Fee Shipping</label>
            <input type="text" name="feeShipping" id="feeShipping" class="form-control" ng-model="role.feeShipping" required/>
            <span ng-show="form.feeShipping.$dirty && form.feeShipping.$error.required" class="help-block">Fee Shipping is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.publicationsAllowed.$dirty && form.publicationsAllowed.$error.required }">
            <label for="publicationsAllowed">Publications Allowed</label>
            <input type="text" name="publicationsAllowed" id="publicationsAllowed" class="form-control" ng-model="role.publicationsAllowed" aria-describedby="helpBlock" required/>
            <span id="helpBlock" class="help-block">if -1, means there's no limit</span>
            <span ng-show="form.publicationsAllowed.$dirty && form.publicationsAllowed.$error.required" class="help-block">Publications Allowed is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.expirationDays.$dirty && form.expirationDays.$error.required }">
            <label for="expirationDays">Expiration Days</label>
            <input type="text" name="expirationDays" id="expirationDays" class="form-control" ng-model="role.expirationDays" required/>
            <span ng-show="form.expirationDays.$dirty && form.expirationDays.$error.required" class="help-block">Expiration Days is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.paypalPayEligible.$dirty && form.paypalPayEligible.$error.required }">
            <label for="paypalPayEligible">Paypal Eligible</label>
            <input type="checkbox" name="paypalPayEligible" id="paypalPayEligible" class="form-control" ng-model="role.paypalPayEligible" />
            <span ng-show="form.paypalPayEligible.$dirty && form.paypalPayEligible.$error.required" class="help-block">Paypal Eligible is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Update</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>