<br />
<div ng-if="isArtActive">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><a href="#/">Home</a></li>
				<li><a href="#/search/{{art.artType}}">{{art.artType}}</a></li>
				<li><a href="#/search/{{art.artSubtype}}"
					style="font-weight: bold;">{{art.artSubtype}}</a></li>
			</ol>
		</div>
	</div>
	<!-- Art Details -->
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row">
					<div class="col-lg-12">
						<div class="thumbnail">
							<div class="row">
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12">
											<div class="viewer">
												<div class="viewerMedia"
													ng-if="vm.viewerMedia.artMediaType === 'image'">
													<img class="img-responsive"
														ngf-thumbnail="vm.viewerMedia.artMediaFilename"
														style="object-fit: contain; max-height: 300px;"></img>
												</div>
												<div class="viewerMedia" 
													ng-if="vm.viewerMedia.artMediaType === 'video'">
													<video class="img-responsive" controls
														ngf-thumbnail="vm.viewerMedia.artMediaFilename"
														style="margin: 0 auto; object-fit: contain; max-height: 300px;"></video>
												</div>
												<div class="viewerMedia" 
													ng-if="vm.viewerMedia.artMediaType === 'audio'">
													<img class="img-responsive"  style="object-fit: contain; max-height: 300px;" src="./images/audio3.png"></img>
													<audio class="audioControl" controls ngf-thumbnail="vm.viewerMedia.artMediaFilename"></audio>
												</div>
												<div class="viewerMedia" 
													ng-if="vm.viewerMedia.artMediaType === 'pdf'">
													<a target="_blank" ng-href="{{vm.viewerMedia.artMediaFilename}}">
														<img class="img-responsive"  style="object-fit: contain; max-height: 300px;" src="./images/pdf2.png"></img>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="padding-top: 10px;">
										<div class="col-lg-12">
											<div class="row">
												<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2"
													ng-repeat="media in art.media track by $index">
													<div ng-if="media.artMediaType === 'image'">
														<div class="selectorPicture thumbnail"
															ng-click="setMedia2Viewer(media);">
															<img class="img-responsive"
																ngf-thumbnail="media.artMediaFilename"
																style="object-fit: contain; max-height: 100px;"></img>
														</div>
													</div>
													<div ng-if="media.artMediaType === 'video'">
														<div class="selectorPicture thumbnail"
															ng-click="setMedia2Viewer(media);">
															<video class="img-responsive"
																ngf-thumbnail="media.artMediaFilename"></video>
															<img class="img-responsive playImage"
																src="./images/play.png"></img>
														</div>
													</div>
													<div ng-if="media.artMediaType === 'audio'">
														<div class="selectorPicture thumbnail"
															ng-click="setMedia2Viewer(media);">
															<img class="img-responsive audioImage"
																src="./images/audio3.png"></img>
														</div>
													</div>
													<div ng-if="media.artMediaType === 'pdf'">
														<div class="selectorPicture thumbnail"
															ng-click="setMedia2Viewer(media);">
															<img class="img-responsive audioImage"
																src="./images/pdf2.png"></img>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="caption-full">
										<h4 class="pull-right">{{art.price | currency}}
											{{art.currencyType}}</h4>
										<h4 style="text-transform: capitalize;">{{art.artName | lowercase}}</h4>
										<hr></hr>
										<pre>{{art.artDescription}}</pre>
										<hr></hr>
										<p class="text-right"><b>Additional Details:</b> {{art.artService}} 
											<span ng-if="art.artGenre">, {{art.artGenre}}</span>
											<span ng-if="art.artFormat">, {{art.artFormat}}</span>
										</p>
										<p class="text-right">
											by <a href="#/profile/{{art.createdBy}}">{{art.createdBy}}</a>
										</p>
										<p class="text-right">created: {{art.createdDate | date}}</p>
									</div>
									<div class="ratings">
										<p class="pull-right">{{comments.length}} reviews</p>
										<input-stars ng-model="art.rating" max="5" readonly></input-stars>
									</div>
								</div>
							</div>
							<div ng-if="art.downloadableMediaLink" class="row text-center" style="padding-top: 10px; padding-bottom: 10px;">
								<div class="col-lg-12">
									<a target="_blank" href="{{art.downloadableMediaLink}}" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
								</div>
							</div>
							<div class="row" ng-if="boughtByCurrent()">
								<div class="col-md-12">
									<div class="text-right">
										<p>
											<a href="" class="btn btn-xs btn-default" data-toggle="modal"
												data-target="#privateInboxModal"> <span
												class="glyphicon glyphicon-envelope"></span> Send Private
												Message
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-12">
						<div style="margin: 10px;">
							<a ng-click="deleteArt(art.artId)" ng-show="isUserOwner(art.createdBy) || hasAdminPrivileges()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
							<a href="#/mediaEdit/{{art.artId}}" ng-show="isUserOwner(art.createdBy) || hasAdminPrivileges()" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
							<a ng-if="!isNotLoggedIn() && !isUserOwner(art.createdBy) && !hasAdminPrivileges() && isBuyEnabled(art)" href="#/artPayment/{{art.artId}}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
						</div>
					</div>
				</div><br />
				<div class="row text-center" ng-show="isNotLoggedIn()">
					<div class="col-md-12">
						<a href="#/login" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</div>
				</div><br />
				<div class="well" ng-show="comments.length || !isNotLoggedIn()">
					<div
						dir-paginate="comment in comments | orderBy:-createdDate | itemsPerPage:pageSize">
						<div class="row">
							<div class="col-md-12">
								by <a href="#/profile/{{comment.createdBy}}">{{comment.createdBy}}</a>:
								<span class="pull-right">{{comment.createdDate |
									date:'medium'}}</span> <br />
								<p style="margin-left: 20px;">{{comment.comment}}</p>
								<a ng-click="deleteArtComment(comment.artCommentId)"
									class="btn btn-small btn-danger pull-right"
									ng-show="hasAdminPrivileges()"><span class="glyphicon glyphicon-trash"></span></a>
							</div>
						</div>
						<hr>
					</div>
					<!-- Pagination -->
					<div class="text-center">
						<dir-pagination-controls boundary-links="true"
							on-page-change="pageChangeHandler(newPageNumber)"
							template-url="app-content/dirPagination.tpl.html"></dir-pagination-controls>
					</div>
					<div ng-if="!isNotLoggedIn()">
						<div class="row" ng-show="!isUserOwner(art.createdBy)">
							<div class="col-md-12">
								<div class="text-right">
									<label for="comment">Your Rate:</label>
									<input-stars name="artRating" id="artRating"
										ng-model="vm.artRating" max="5" ng-click="rateArt()" ng-hide="surveysPending"></input-stars>
								</div>
							</div>
						</div>
						<form name="form" ng-submit="addComments()" role="form">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="comment">Comment:</label>
										<textarea class="form-control" rows="5" name="comment"
											id="comment" ng-model="vm.comments" ng-maxlength="500"
											ng-pattern="txtPattern" ng-disabled="surveysPending" required></textarea>
	    								<span ng-if="vm.comments" class="help-block">{{500 - vm.comments.length}} out of 500 characters</span>
										<span ng-show="form.comment.$dirty && form.comment.$error.required" class="help-block">Comments are required</span>
										<span ng-show="form.comment.$error.pattern" style="color: #a94442">Enter only string.</span>
										<span ng-show="form.comment.$error.maxlength" class="help-block">Max of 500 characters</span>
										<span class="help-block"><gentle ng-model="vm.comments"></gentle></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="text-right">
										<button type="submit" class="btn btn-success"
											ng-disabled="form.$invalid || isNotgentle || surveysPending">Leave a Review</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Edn Art Details -->
	
	<!-- Private Inbox Modal -->
	<div class="modal fade" id="privateInboxModal" tabindex="-1"
		role="dialog" aria-labelledby="privateInboxModalLabel" ng-if="boughtByCurrent()">
		<div class="modal-dialog" role="document">
			<form name="formInbox" role="form" ng-submit="sendPrivateInbox()">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="addrsModalLabel">Send Private
							Inbox</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="fname">From: </label> <span
								class="form-control-static">{{user}}</span>
						</div>
						<div class="form-group">
							<label for="fname">To: </label> <span class="form-control-static">{{art.createdBy}}</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': formInbox.subject.$dirty && formInbox.subject.$error.required }">
							<label for="subject">Subject</label> <input type="text"
								name="subject" id="subject" class="form-control"
								ng-model="subject" placeholder="Your Subject..." required /> <span
								ng-show="formInbox.subject.$dirty && formInbox.subject.$error.required"
								class="help-block">Subject is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': formInbox.message.$dirty && formInbox.message.$error.required }">
							<label for="message">Message</label>
							<textarea class="form-control" rows="5" name="message"
								id="message" ng-model="vm.message" ng-maxlength="500"
								placeholder="Your Message..." ng-pattern="txtPattern" required></textarea>
							<span ng-if="vm.message" class="help-block">{{500 - vm.message.length}} out of
								500 characters</span> <span
								ng-show="formInbox.message.$dirty && formInbox.message.$error.required"
								class="help-block">Message is required</span> <span
								ng-show="formInbox.message.$error.pattern" style="color: #a94442">Enter
								only string.</span> <span
								ng-show="formInbox.message.$error.maxlength" class="help-block">Max
								of 500 characters</span>
								<span class="help-block"><gentle ng-model="vm.message"></gentle></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" ng-click="sendPrivateInbox()"
							data-dismiss="modal" class="btn btn-primary"
							ng-disabled="formInbox.$invalid || isNotgentle">Send</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>