<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Create New Country</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="createCountry()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.countryName.$dirty && form.countryName.$error.required }">
            <label for="countryName">Country Name</label>
            <input type="text" name="countryName" id="countryName" class="form-control" ng-model="country.country_name" required/>
            <span ng-show="form.countryName.$dirty && form.countryName.$error.required" class="help-block">Country Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.countryCode.$dirty && form.countryCode.$error.required }">
            <label for="countryCode">Country Code</label>
            <input type="text" name="countryCode" id="countryCode" class="form-control" ng-model="country.country_code" required/>
            <span ng-show="form.countryCode.$dirty && form.countryCode.$error.required" class="help-block">Country Code is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>