<br/>
<div class="panel panel-default">
	<div class="panel-heading">
    	<h4  class="panel-title">Currency details for: <i><b>{{currency.currency_type}}</b></i></h4>
	</div>
	<div class="panel-body">
     <form name="form" ng-submit="updateCurrency()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.currencyType.$dirty && form.currencyType.$error.required }">
            <label for="currencyType">Currency Name</label>
            <input type="text" name="currencyType" id="currencyType" class="form-control" ng-model="currency.currency_type" required/>
            <span ng-show="form.currencyType.$dirty && form.currencyType.$error.required" class="help-block">Currency Name is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Update</button>
            <a ng-click="cancel()" class="btn btn-default" >Cancel</a>
        </div>
    </form>
  </div>
</div>