<div class="container" style="margin-top: 5px;">
	
	<!-- Carousel -->
	<div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="4000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2"  data-ng-repeat="art in artList" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item carousel-img-fit" data-ng-repeat="art in artList" data-ng-class="{active : $first}">
				<img ng-src="{{art.artMediaFilename}}" ng-if="art.artMediaType=='image'" alt="{{art.artName}}" class="imgFullWidth">
				<video ngf-thumbnail="art.artMediaFilename" ng-if="art.artMediaType=='video'" class="imgFullWidth"></video>
				<img src="./images/audio.png" ng-if="art.artMediaType=='audio'" class="imgFullWidth"></img> 
                <div class="carousel-caption">
                    <h3>{{art.artName}}</h3>
					<p><a class="btn btn-xs btn-default" href="#/artDetails/{{art.artId}}" role="button">View Details</a></p>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Art Type Thumbnails -->
	<section>
		<div class="row">
			<div class="col-lg-12">
				<h3>Art By Style</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/paint-brush.jpg" alt="Browse Painting gallery">
					<div class="overlay">
			           <h2>Painting</h2>
			           <a class="info" href="#/search/Painting">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/photo.jpg" alt="Browse Photography gallery">
					<div class="overlay">
			           <h2>Photography</h2>
			           <a class="info" href="#/search/Photography">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/sculpting.jpg" alt="Browse Sculpture gallery">
					<div class="overlay">
			           <h2>Sculpture</h2>
			           <a class="info" href="#/search/Sculpture">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/architecture.jpg" alt="Browse Architecture gallery">
					<div class="overlay">
			           <h2>Architecture</h2>
			           <a class="info" href="#/search/Architecture">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/literature.jpg" alt="Browse Literature gallery">
					<div class="overlay">
			           <h2>Literature</h2>
			           <a class="info" href="#/search/Literature">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/music.jpg" alt="Browse Music gallery">
					<div class="overlay">
			           <h2>Music</h2>
			           <a class="info" href="#/search/Music">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/dance.jpg" alt="Browse Dance gallery">
					<div class="overlay">
			           <h2>Dance</h2>
			           <a class="info" href="#/search/Dance">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/theater.jpg" alt="Browse Theater gallery">
					<div class="overlay">
			           <h2>Theater</h2>
			           <a class="info" href="#/search/Theater">Browse gallery</a>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="hovereffect thumbnail">
					<img class="imgFullWidth" src="./images/ephimeral.jpg" alt="Browse Ephemeral gallery">
					<div class="overlay">
			           <h2>Ephemeral</h2>
			           <a class="info" href="#/search/Ephemeral">Browse gallery</a>
			        </div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Art Type Thumbnails -->
</div>
